#id-page-financial {
    .financial {
        &__intro {
            position: relative;
            display: flex;
            align-items: flex-end;

            @include to(940px) {
              margin-top: 110px;
            }

            @include to(740px) {
              margin-top: 30px;
              flex-direction: column;
              align-items: flex-start;
            }

            @include to(480px) {
              margin-top: 90px;
              background-color: #333;
            }
    
            &-left {
                width: 45%;
                overflow: hidden;

                @include to(1370px) {
                    width: 44%;
                }

                @include to(940px) {
                  position: absolute;
                  top: -41%;
                  z-index: 5;
                }

                @include to(770px) {
                  top: -32%;
                }

                @include to(740px) {
                  position: static;
                  width: 85%;
                }

                @include to(480px) {
                  width: 100%;
                  transform: translateY(-33%);
                }

                @include to(320px) {
                  transform: translateY(-41%);
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include to(940px) {
                  width: 91%;
                  object-fit: contain;
                }

                @include to(770px) {
                  width: 96%;
                }

                @include to(740px) {
                  width: 80%;
                }

                @include to(480px) {
                  width: 86%;
                }
            }
    
            &-right {
                position: relative;
                width: 55%;
                margin-bottom: 17px;

                @include to(1370px) {
                    width: 56%;
                }

                @include to(940px) {
                  width: 85%;
                  margin-left: auto;
                  display: flex;
                  justify-content: flex-end;
                  background-color: #333;
                }

                @include to(770px) {
                  width: 90%;
                }

                @include to(740px) {
                  width: 100%;
                  margin-left: 0;
                  justify-content: center;
                }

                img {
                    width: 39%;
                    height: 94%;
                    position: absolute;
                    right: 0;
                    bottom: -81%;
                    z-index: 2;
                    object-fit: cover;

                    @include to(1440px) {
                        width: 52%;
                        height: 94%;
                        bottom: -81%;
                    }

                    @include to(1370px) {
                        width: 48%;
                        height: 76%;
                        bottom: -65%;
                    }

                    @include to(1025px) {
                      width: 51%;
                      height: 62%;
                      bottom: -51%;
                    }

                    @include to(940px) {
                      width: 64%;
                      height: 200px;
                      bottom: -100%;
                      left: 50%;
                      object-fit: contain;
                    }

                    @include to(770px) {
                      width: 41%;
                      height: 194px;
                      object-fit: cover;
                      bottom: -105%;
                      left: 59%;
                    }

                    @include to(480px) {
                      width: 34%;
                      height: 170px;
                      bottom: -202%;
                      left: 66%;
                    }

                    @include to(375px) {
                      height: 155px;
                      bottom: -201%;
                    }

                    @include to(320px) {
                      bottom: -140%;
                      height: 145px;
                    }
                }

                &-block {
                    position: relative;
                    background-color: #333;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #fff;
                    padding: 55px 0;
                    padding-bottom: 70px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -2px;
                        top: 0;
                        bottom: 0;
                        width: 2px;
                        background-color: #333;

                        @media (min-width: 2000px) {
                            left: -3px;
                            width: 3px;
                        }
                    }

                    @include to(1370px) {
                        align-items: flex-start;
                        padding-left: 80px;
                    }

                    @include to(940px) {
                      padding: 35px;
                      padding-left: 30px;
                    }

                    @include to(870px) {
                      padding-right: 15px;
                    }

                    @include to(480px) {
                      padding: 16px;
                      margin-top: -77px;
                    }
                }

                &-wrap {
                    display: flex;
                    justify-content: center;

                    @include to(1370px) {
                        justify-content: flex-start;
                    }
                }
            }

            &-title {
                display: flex;
                justify-content: center;
                margin-bottom: 22px;
                font-family: $druk-cyr;
                font-size: 26px;
                text-transform: uppercase;
                color: #EC5629;
                max-width: 700px;
                font-weight: 600;
                line-height: 1.5em;

                @include to(1440px) {
                    font-size: 24px;
                }

                @include to(1370px) {
                    justify-content: flex-start;
                    padding-left: 80px;
                    max-width: 735px;
                }

                @include to(940px) {
                  padding-left: 70px;
                  margin-bottom: 32px;
                }

                @include to(600px) {
                  font-size: 20px;
                  padding-left: 0;
                }

                @include to(480px) {
                  font-size: 18px;
                }

                @include to(320px) {
                  font-size: 16px;
                }
            }

            &-desc {
                font-size: 20px;
                line-height: 1.5em;
                max-width: 602px;
                margin-left: -95px;

                @include to(1440px) {
                    font-size: 18px;
                }

                @include to(1370px) {
                    max-width: 542px;
                    margin-left: 0;
                }

                @include to(940px) {
                  max-width: 490px;
                }

                @include to(870px){
                  max-width: 435px;
                }

                @include to(770px) {
                  max-width: 411px;
                  font-size: 16px;
                }
            }
        }

        &__step {
            margin-bottom: 70px;
            padding-left: 70px;
            padding-right: 70px;
            margin-top: 85px;
            position: relative;

            @include to(1025px) {
              margin-bottom: 41px;
            }

            @include to(940px) {
              margin-top: 160px;
            }

            @include to(870px) {
              padding-left: 20px;
              padding-right: 20px;
            }

            @include to(770px) {
              padding-left: 0;
              padding-right: 0;
              margin-bottom: 55px;
            }

            @include to(660px) {
              margin-top: 140px;
              margin-bottom: 30px;
            }

            @include to(480px) {
              margin-top: 110px;
              margin-bottom: 30px;
            }

            // &::after {
            //     content: "";
            //     position: absolute;
            //     top: -8px;
            //     bottom: 0;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     width: 2px;
            //     background-color: #333;
            // }

            &-item {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                z-index: 2;

                @include to(1025px) {
                  &:not(:first-child) {
                    margin-top: -61px;
                  }
                }

                @include to(770px) {
                  &:not(:first-child) {
                    margin-top: -90px;
                  }
                }

                @include to(660px) {
                  margin-top: 0;

                  &:not(:first-child) {
                    margin-top: 0;
                  }

                  &:first-child {
                    margin-top: 0;
                  }

                  svg {
                    display: none;
                  }
                }

                @include to(480px) {
                  margin-bottom: 16px;

                  &:last-child {
                    margin-bottom: 0;
                  }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2px;
                    background-color: #333;
                    transition: all .4s;

                    @include to(660px) {
                      display: none;
                    }
                }

                &:last-child {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: 13px;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 2px;
                        background-color: #fff;

                        @include to(660px) {
                          display: none;
                        }
                    }

                    @include to(940px) {
                      margin-top: -110px;
                    }

                    @include to(770px) {
                      margin-top: -125px;
                    }

                    @include to(660px) {
                      margin-top: 0;
                    }
                }

                &--right {
                    align-items: flex-end;

                    @include to(660px) {
                      align-items: flex-start;
                    }
                }

                svg {
                    position: absolute;
                    top: -9px;
                    right: calc(50% - 17px);
                    transform: translateX(-50%);
                    fill: #fff;
                    stroke-width: 8px;
                    width: 17px;
                    height: 17px;
                    z-index: 1;

                    @include to(770px) {
                      width: 13px;
                      height: 14px;
                      right: calc(50% - 13px);
                    }
                }

                &:not(:first-child) {
                    svg {
                        top: 5px;
                    }
                }

                &-content {
                    width: 43%;

                    @include to(1370px) {
                        width: 44%;
                    }

                    @include to(940px) {
                      width: 47%;
                    }

                    @include to(660px) {
                      width: 100%;
                    }
                }

                &-top {
                    margin-bottom: 16px;
                    display: flex;
                    align-items: flex-start;

                    @include to(480px) {
                      margin-bottom: -5px;
                    }

                    .number {
                        min-width: 68px;
                        font-family: $druk-cyr;
                        font-size: 26px;
                        line-height: 1.5em;
                        color: #EC5629;
                        margin-right: 10px;
                        display: block;
                        transform: translateY(-12px);

                        @include to(770px) {
                          min-width: 75px;
                          font-size: 24px;
                          margin-right: 4px;
                          transform: translateY(-8px);
                        }

                        @include to(480px) {
                          font-size: 18px;
                          transform: translateY(-2px);
                          min-width: 55px;
                        }

                        @include to(320px) {
                          font-size: 16px;
                          min-width: 51px;
                          transform: translateY(-1px);
                        }
                    }

                    .text {
                        margin-bottom: 10px;
                        display: block;
                       color: #333;
                       text-transform: uppercase;
                    }
                }

                &:not(:first-child) {
                    .number {
                        min-width: 80px;

                        @include to(480px) {
                          min-width: 56px;
                        }

                        @include to(320px) {
                          min-width: 52px;
                        }
                    }
                }

                &-desc {
                    color: #808080;
                }
            }
        }

        &__info {
            position: relative;
            margin-bottom: 150px;
            display: flex;

            @include to(1025px) {
              margin-bottom: 90px;
            }

            @include to(770px) {
              margin-bottom: 40px;
            }

            &-left {
                width: 60%;
                margin-right: -60px;

                @include to(770px) {
                  width: 55%;
                }

                @include to(580px) {
                  width: 100%;
                }

                @include to(480px) {
                  & > .container {
                    display: flex;
                    margin-top: 137px;
                    justify-content: center;
                    padding-left: 16px;
                  }
                }

                @include to(320px) {
                  & > .container {
                    display: flex;
                    margin-top: 120px;
                    justify-content: center;
                    padding-left: 16px;
                  }
                }

                &-wrap {
                    margin-bottom: 68px;
                    padding: 62px;
                    background-color: #333;

                    @include to(1440px) {
                        padding-left: 50px;
                    }

                    @include to(1370px) {
                        padding-left: 14.5%;
                    }

                    @include to(1280px) {
                        padding-left: 10%;
                    }

                    @include to(1025px) {
                      padding: 45px;
                    }

                    @include to(770px) {
                      margin-bottom: 55px;
                      padding: 40px 30px;
                    }

                    @include to(580px) {
                      padding: 32px 30px;
                    }

                    @include to(480px) {
                      padding: 32px 16px;
                    }
                }

                .container {
                    padding-left: 219px;

                    .choise-us__link {
                        display: inline-flex;
                    }

                    @include to(1440px) {
                        padding-left: 0;
                    }
                }

                &-block {
                    padding-left: 120px;

                    @include to(480px) {
                      padding-left: 0;
                    }
                }
            }

            &-text {
                color: #fff;
                font-size: 20px;
                line-height: 1.5em;
                font-weight: 400;
                width: 92%;
                padding-left: 56px;

                @include to(1440px) {
                    font-size: 18px;
                    width: 80%;
                }

                @include to(1370px) {
                    width: 98%;
                }

                @include to(770px) {
                  width: 100%;
                  font-size: 16px;
                  padding-left: 0;
                }
            }

            &-right {
                position: relative;
                width: 45%;
                overflow: hidden;

                @include to(1025px) {
                  width: 46%;
                }

                @include to(770px) {
                  width: 53%;
                }

                @include to(580px) {
                  position: absolute;
                  bottom: 7px;
                  right: 0;
                  height: 110px;
                  width: 210px;
                }

                @include to(480px) {
                  bottom: 91px;
                }

                @include to(320px) {
                  width: 175px;
                  height: 90px;
                  bottom: 96px;
                }

                img {
                    position: absolute;
                    right: 0;
                    top: 18%;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @include to(1025px) {
                      height: 72%;
                    }

                    @include to(770px) {
                      height: 72%;
                    }

                    @include to(580px) {
                      height: 100%;
                      top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1445px) and(min-width: 1100px) {
    #id-page-financial .financial__intro-right img {
        width: 51%;
        height: 89%;
        bottom: -75%;
    }
}
