#index-page {
  .main {
    position: relative;
    height: 100vh;
    width: 100vw;
    .swiper-pagination-progressbar-fill {
      background-color: #EC5629;
      height: 4px;
      margin-top: -1px;
    }

    .socials {
      display: flex;
      flex-direction: column;

      &__link--4 {
        order: -1;
      }
    }

    &__item {
      position: relative;
      width: 100%;
      min-height: 100vh;
      color: #fff;

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }
      }

      .main__item-container {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }

      &-wrap {
        max-width: 100%;
        padding-left: 100px;

        @include to(920px) {
          padding-left: 70px;
        }

        @include to(480px) {
          padding-left: 0;
        }
      }
    }

    &__small-title {
      position: relative;
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 1.3em;
      font-weight: 500;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      @include to(1440px) {
        font-size: 14px;
      }

      @include to(920px) {
        font-size: 12px;
      }

      @include to(375px) {
        font-size: 11px;
      }

      @include to(320px) {
        font-size: 10px;
      }

      &::before {
        content: "";
        display: block;
        margin-right: 16px;
        height: 1px;
        width: $border-small-width;
        background-color: #fff;

        @include to(1440px) {
          width: $border-small-width-laptop;
        }
      }
    }

    &__title {
      font-size: 60px;
      line-height: 1.2em;
      font-family: $druk-cyr;
      margin-bottom: 31px;
      font-weight: 600;
      text-transform: uppercase;

      @include to(1440px) {
        font-size: 56px;
      }

      @include to(920px) {
        margin-bottom: 23px;
        font-size: 40px;
        line-height: 1.4em;
      }

      @include to(650px) {
        font-size: 35px;
      }

      @include to(480px) {
        font-size: 24px;
      }

      @include to(375px) {
        font-size: 22px;
      }

      @include to(320px) {
        font-size: 20px;
      }
    }

    &__desc {
      font-size: 20px;
      line-height: 1.4em;
      font-weight: 400;
      display: flex;
      max-width: 700px;

      @include to(1440px) {
        max-width: 540px;
      }

      &::before {
        content: "";
        margin-right: 24px;
        margin-top: 12px;
        display: block;
        min-width: $border-red-width;
        height: 4px;
        background-color: #EC5629;

        @include to(1440px) {
          min-width: $border-red-width-laptop;
        }

        @include to(920px) {
          margin-top: 10px;
        }

        @include to(480px) {
          margin-right: 11px;
          min-width: $border-red-width-mobile;
        }
      }

      @include to(1440px) {
        font-size: 18px;
      }

      @include to(375px) {
        font-size: 16px;
      }
    }

    &__progress {
      display: flex;
      width: 45%;
      background-color: #fff;
      position: relative;
      margin-bottom: 5px;
      margin-right: 35px;

      @include to(920px) {
        width: 38%;
        margin-right: 65px;
      }

      @include to(650px) {
        width: 40%;
        margin-right: 35px;
      }

      @include to(480px) {
        width: 50%;
        margin-right: 25px;
      }

      &-wrap {
        bottom: 15%;
        position: absolute;
        display: flex;
        right: 0;
        z-index: 2;
        width: 100%;
        justify-content: flex-end;

        .container {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }

        @include to(920px) {
          bottom: 95px;
        }

        @include to(650px) {
          bottom: 42px;
        }
      }

      &-bar {
        width: 100%;
        height: 1.5px;
        background-color: #fff;

        &-indicator {
          width: 100px;
          height: 4px;
          transform: translateY(-2px);
          background-color: #EC5629;
        }
      }

      &-info {
        position: absolute;
        right: 0;
        top: -55px;
        font-family: $monserrat;
        font-weight: 600;

        @include to(1440px) {
          top: -50px;
        }

        @include to(480px) {
          top: -40px;
        }
      }

      &-current {
        font-size: 38px;
        line-height: 1.3em;
        color: #EC5629;

        @include to(1440px) {
          font-size: 36px;
        }

        @include to(480px) {
          font-size: 24px;
        }
      }

      &-total {
        margin-left: 4px;
        font-size: 14px;
        line-height: 1.2em;

        @include to(1440px) {
          font-size: 12px;
        }
      }

      &-img {
        position: relative;
        width: 25%;
        height: 105%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 6px;
        cursor: pointer;

        @include to(1440px) {
          width: 23%;
          height: 102%;
        }

        @include to(1370px) {
          width: 24%;
          height: 95%;
        }

        @include to(920px) {
          width: 23%;
        }

        @include to(480px) {
          width: 47%;
        }

        @include to(375px) {
          width: 45%;
        }

        &-1 {
          position: relative;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          transition: all .4s;
          object-fit: cover;
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }

        &--2 {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .choise-us {
    position: relative;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 250px;
    display: flex;
    align-items: center;

    &__link-mobile {
      display: none;

      @include to(480px) {
        display: inline-flex;
        padding-left: 16px;
      }
    }

    .choise-us__block-mobile {
      @include to(480px) {
        display: flex;
        justify-content: center;
      }
    }

    .choise-us__link--desk {
      @include to(480px) {
        display: none !important;
      }
    }

    @include to(1025px) {
      padding-top: 110px;
      padding-bottom: 230px;
    }

    @include to(850px) {
      padding-bottom: 130px;
    }

    @include to(770px) {
      padding-top: 80px;
      padding-bottom: 15px;
      min-height: auto;
    }

    @include to(480px) {
      padding-bottom: 40px;
    }

    &__wrap {
      width: 100%;
    }

    &__item--3-block {
      display: flex;
    }

    &__tabs {
      margin-bottom: 160px;
      width: 55.6%;
      display: flex;
      justify-content: space-between;

      @include to(1440px) {
        width: 51.5%;
      }

      @include to(1370px) {
        width: 62.5%;
      }

      @include to(850px) {
        margin-bottom: 115px;
      }

      @include to(770px) {
        width: 68.5%;
        margin-bottom: 90px;
      }

      @include to(730px) {
        width: 75%;
      }

      @include to(660px) {
        margin-bottom: 70px;
      }

      @include to(600px) {
        width: 100%;
      }

      @include to(480px) {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        row-gap: 16px;
        column-gap: 16px;
      }
    }

    &__content {
      display: flex;

      @include to(480px) {
        display: block;
      }
    }

    &__tab {
      position: relative;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      color: #333;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      transition: all .4s;

      @include to(1440px) {
        font-size: 16px;
      }

      @include to(480px) {
        font-size: 14px;
      }

      @include to(480px) {
        background: #E5E5E5;
        color: #333;
        padding: 11px 25px;
      }

      &::after {
        height: 4px;

        @include to(480px) {
          display: none;
        }
      }

      @include to(480px) {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: #EC5629;
          color: #fff;
        }
      }

      &--active {
        &::after {
          width: 100%;

          @include to(480px) {
            display: none;
          }
        }

        @include to(480px) {
          background-color: #EC5629;
          color: #fff;
        }
      }
    }

    &__inner-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__item {
      width: 100%;
      display: flex;
      
      &--1 {

        @include to(770px) {
          margin-bottom: 145px;
        }

        @include to(660px) {
          flex-direction: column;
          margin-bottom: 65px;
        }

        @include to(480px) {
          margin-bottom: 0;
        }

        .choise-us__item--1-left {
          width: 41%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;

          @include to(660px) {
            width: 100%;
            min-height: 300px;
          }

          .bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('../images/choise-img--1.png') no-repeat center/cover;

            @include to(770px) {
              height: 90%;
              top: auto;
            }

            @include to(660px) {
              width: 85%;
            }
          }
        }

        .choise-us__item--1-right {
          width: 48%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 16%;

          @include to(1440px) {
            padding-left: 17%;
          }

          @include to(1025px) {
            padding-left: 19%;
            width: 54%;
          }

          @include to(1020px) {
            padding-left: 17%;
          }

          @include to(850px) {
            width: 57%;
          }

          @include to(770px) {
            padding-left: 14%;
          }

          @include to(730px) {
            padding-left: 12%;
            width: 59%;
          }

          @include to(660px) {
            margin-top: 62px;
            width: 100%;
            padding-left: 30px;
          }

          @include to(480px) {
            padding-left: 16px;
          }

          &-content {
            position: relative;
            max-width: 450px;
            padding-left: 24px;

            @include to(1440px) {
              max-width: 350px;
            }

            @include to(770px) {
              max-width: 92%;
            }

            @include to(730px) {
              padding-left: 0;
            }

            &::before {
              content: "";
              position: absolute;
              top: 10px;
              left: 0;
              transform: translateX(-100%);
              display: block;
              width: $border-red-width;
              height: 4px;
              background-color: #EC5629;
              margin-right: 24px;

              @include to(1440px) {
                width: $border-red-width-laptop;
              }

              @include to(850px) {
                width: $border-red-width-mobile;
                left: 15px;
              }

              @include to(730px) {
                display: none;
              }
            }

            p {
              margin-bottom: 25px;
              color: #808080;

              span {
                font-weight: 700;
                color: #333;
              }
            }
          }
        }

        .choise-us__item--1-img {
          position: absolute;
          transform: translate(40%, -32%);
          z-index: 1;
          width: 55%;
          height: 100%;

          img {
            width: 80%;
            height: 132%;
            object-fit: cover;

            @include to(1370px) {
              height: 129%;
            }
          }

          @include to(1440px) {
            width: 77%;
            transform: translate(37%, -32%);
          }

          @include to(1370px) {
            width: 79%;
            transform: translate(37%, -29%);
          }

          @include to(1025px) {
            width: 90%;
          }

          @include to(850px) {
            width: 100%;

            img {
              width: 94%;
              height: 107%;
            }
          }

          @include to(770px) {
            img {
              width: 100%;
            }
          }

          @include to(670px) {
            width: 97%;
            height: 98%;
          }

          @include to(480px) {
            width: 97%;
            height: 93%;
          }
        }

        &-title {
          transform: translateY(100%);
          width: 100%;
          background: #333333;
          font-size: 14px;
          line-height: 4.2em;
          font-weight: 500;
          text-align: right;
          padding-right: 17%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: uppercase;
          position: relative;
          z-index: 2;

          @include to(770px) {
            font-size: 12px;
          }

          @include to(660px) {
            width: 85%;
            left: -15%;
            padding-right: 10%;
            transform: translateY(96%);
          }

          &::before {
            content: "";
            display: block;
            height: 1px;
            margin-right: 10px;
            width: 40px;
            background-color: #B3B3B3;
          }
        }
      }

      &--2 {
        margin-top: 43px;

        @include to(480px) {
          margin-bottom: 20px;
        }

        &-left {
          width: 62%;
          background-color: #333333;
          display: flex;
          justify-content: flex-end;
          padding: 65px 0;
          padding-top: 80px;
          height: 93%;
          padding-right: 120px;

          @include to(1440px) {
            padding-right: 90px;
          }

          @include to(1025px) {
            justify-content: center;
            padding-right: 0;
          }

          @include to(770px) {
            background-color: transparent;
            padding-top: 0;
            margin-top: 6px;
          }

          @include to(660px) {
            width: 100%;
          }
        }

        &-desc {
          max-width: 415px;
          margin-right: 55px;

          &::before {
            margin-top: 13px;
          }

          @include to(1440px) {
            max-width: 375px;
          }

          @include to(1370px) {
            max-width: 310px;
          }

          @include to(1250px) {
            margin-right: 30px;
          }

          @include to(1025px) {
            max-width: 395px;
            margin-right: 0;
          }

          @include to(770px) {
            order: -1;
            max-width: 316px;
            transform: translateY(-105px);
          }

          @include to(660px) {
            max-width: 450px;
            transform: translateY(-80px);
            margin-left: -9px;
          }

          @include to(480px) {
            &::before {
              display: none;
            }
          }
        }

        &-content {
          display: flex;
          align-items: center;
          max-width: 800px;

          @include to(1025px) {
            display: flex;
            flex-direction: column;
          }

          @include to(770px) {
            width: 100%;
            align-items: flex-start;
            padding-left: 42px;
            background-color: #333;
            margin-top: 30px;
            padding-bottom: 55px;
          }

          @include to(660px) {
            padding-bottom: 80px;
          }

          @include to(480px) {
            padding-bottom: 35px;
            padding-left: 25px;
          }
        }

        &-wrap {
          display: flex;

          @include to(1025px) {
            order: -1;
          }

          @include to(770px) {
            margin-top: -7px;
          }

          @include to(480px) {
            flex-direction: column;
          }
        }

        &-list:first-child {
          margin-right: 63px;

          @include to(1250px) {
            margin-right: 35px;
          }

          @include to(770px) {
            margin-right: 43px;
          }
        }

        &-block {
          margin-bottom: 38px;

          @include to(770px) {
            margin-bottom: 20px;
          }

          @include to(480px) {
            display: flex;
            align-items: center;
          }

          &-number {
            display: block;
            color: #EC5629;
            font-size: 26px;
            line-height: 1em;
            font-family: $monserrat;
            margin-bottom: 8px;

            @include to(1440px) {
              font-size: 24px;
            }

            @include to(770px) {
              font-size: 18px;
            }

            @include to(480px) {
              margin-bottom: 0;
              min-width: 50px;
            }
          }
          
          &-title {
            font-size: 20px;
            line-height: 1.3em;
            color: #fff;
            font-weight: 400;

            @include to(1440px) {
              font-size: 18px;
            }

            @include to(320px) {
              font-size: 16px;
            }
          }
        }

        &-right {
          width: 38%;

          @include to(850px) {
            width: 47%;
          }

          @include to(770px) {
            width: 48%;
          }

          @include to(660px) {
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        &-img {
          height: 77%;
          object-fit: cover;
          width: 108%;

          img {
            height: 100%;
            transform: translate(-7%, -28%);
            object-fit: cover;

            @include to(1025px) {
              height: 85%;
            }

            @include to(770px) {
              transform: translate(-7%, -35%);
              height: 63%;
            }

            @include to(660px) {
              width: 180px;
              height: 220px;
              transform: translate(-7%, -24.4%);
            }

            @include to(480px) {
              width: 130px;
              height: 186px;
              transform: translate(-7%, -46.4%);
            }

            @include to(320px) {
              width: 113px;
              height: 180px;
              transform: translate(-7%, -45.4%);
            }
          }

          @include to(660px) {
            display: flex;
            justify-content: flex-end;
          }
        }

        .choise-us__link {
          margin-top: -30px;
          display: inline-flex;
          margin-left: 73px;
          padding-left: 0;

          span {
            right: 19px;
            top: 48%;
          }

          &:hover {
            span {
              right: 14px;
            }
          }

          @include to(1025px) {
            transform: translateY(-70%);
            margin-left: 40px !important;
          }

          @include to(770px) {
            transform: translateY(-225%);
            margin-left: 21px !important;
          }

          @include to(660px) {
            margin-left: 44px !important;
          }
        }
      }

      .choise-us__link {
        padding-left: 24px;

        @include to(1025px) {
          padding-left: 0;
          margin-left: 24px;
        } 

        @include to(660px) {
          margin-left: 0;
        }
      }

      &--3 {
        display: block;
        margin-top: -60px;

        @include to(850px) {
          .container {
            padding: 0;
          }
        }

        @include to(770px) {
          margin-top: -31px;
          margin-bottom: 88px;
        }

        @include to(660px) {
          margin-bottom: 65px;
        }

        @include to(480px) {
          margin-top: 5px;
          margin-bottom: 0;
        }

        &-wrap {
          display: flex;
          justify-content: center;

          @include to(770px) {
            justify-content: flex-start;
          }

          @include to(660px) {
            flex-direction: column;
          }
        }

        &-img {
          height: 100%;

          @include to(1440px) {
            width: 97%;
          }

          @include to(1370px) {
            width: 92%;
          }

          @include to(660px) {
            width: 100%;
            display: flex;
            justify-content: center;
          }

          @include to(480px) {
            justify-content: flex-end;
          }
        }

        &-left {
          position: relative;
          width: 32%;
          margin-left: -30px;

          @include to(480px) {
            margin-left: 0;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 110%;
            height: 27%;
            transform: translateY(-16%) translateX(-30%);
            background-color: #333;

            @include to(1650px) {
              width: 105%;
              transform: translateY(-33%) translateX(-19%);
            }

            @include to(1440px) {
              height: 27%;
              width: 91%;
              transform: translateY(-33%) translateX(-1%);
            }

            @include to(1370px) {
              transform: translateY(10%) translateX(0%);
              width: 97%;
            }

            @include to(850px) {
              width: 100%;
              height: 122px;
              transform: translateY(42%) translateX(-7%);
            }

            @include to(770px) {
              transform: translateY(42%) translateX(-4%);
            }

            @include to(660px) {
              margin-left: 0;
            }

            @include to(480px) {
              width: 90%;
              height: 100px;
            }

            @include to(320px) {
              height: 85px;
            }
          }

          img {
            width: 100%;
            position: relative;
            height: 85%;
            z-index: 1;
            object-fit: contain;
            transform: translateX(4%);

            @include to(370px) {
              object-fit: cover;
            }

            @include to(1650px) {
              transform: translateX(11%);
            }

            @include to(1440px) {
              height: 80%;
              transform: translateX(30%);
            }

            @include to(1370px) {
              height: 91%;
              transform: translateX(44%);
            }

            @include to(1025px) {
              object-fit: cover;
            }

            @include to(850px) {
              width: 295px;
              height: 375px;
            }

            @include to(660px) {
              transform: translateX(10%);
            }

            @include to(480px) {
              width: 68%;
              height: 340px;

              transform: translateX(13%);
            }

            @include to(375px) {
              width: 77%;
              height: 330px;
            }

            @include to(320px) {
              width: 70%;
              height: 280px;
            }
          }

          @include to(850px) {
            transform: translateX(0);
            width: 42%;
            align-self: flex-start;
          }

          @include to(660px) {
            width: 100%;
          }
        }

        &-bg {
          position: absolute;
          background-color: #333;
          height: 100%;
        }

        &-right {
          width: 53%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 100px;

          &-content {
            max-width: 584px;

            @include to(1370px) {
              width: 480px;
            }

            @include to(850px) {
              width: 100%;
            }
          }

          &-top {
            margin-left: 37px;

            @include to(480px) {
              display: none;
            }
          }

          .choise-us__link {
            padding-left: 0;
            display: inline-flex;
          }

          @include to(1440px) {
            width: 53%;
            padding-left: 13%;
          }

          @include to(1370px) {
            width: 62%;
            padding-left: 16%;
            transform: translateX(30px);
          }

          @include to(850px) {
            width: 50%;
            padding-left: 12.5%;
          }

          @include to(770px) {
            width: 53%;
          }

          @include to(660px) {
            width: 100%;
            margin-top: 100px;
            transform: translateX(0);
            padding-left: 0;
          }

          @include to(480px) {
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 65px;
          }

          @include to(320px) {
            margin-top: 55px;
          }
        }

        &-small-title {
          margin-bottom: 13px;
          font-size: 14px;
          line-height: 1em;
          color: #B3B3B3;
          display: flex;
          align-items: center;
          font-weight: 400;
          text-transform: uppercase;

          &::before {
            content: "";
            display: block;
            height: 1px;
            width: 38px;
            margin-right: 16px;
            background-color: #B3B3B3;
          }

          @include to(1440px) {
            font-size: 12px;
          }
        }

        &-title {
          margin-bottom: 30px;
          font-family: $druk-cyr;
          color: #333333;

          @include to(850px) {
            margin-bottom: 21px;
          }
        }

        &-list {
          margin-bottom: 32px;
          display: grid;
          grid-template-columns: 1fr;
          row-gap: 24px;

          @include to(850px) {
            row-gap: 8px;
          }

          @include to(480px) {
            row-gap: 13px;
          }
        }

        &-block {
          &-number {
            display: block;
            font-size: 16px;
            margin-top: 3px;
            min-width: 45px;
            line-height: 1.5em;
            margin-right: 15px;
            font-family: $monserrat;
            font-weight: 700;
            color: #EC5629;

            @include to(1440px) {
              min-width: 36px;
              font-size: 14px;
            }
          }
          
          &-desc {
            color: #808080;
          }
        }

        &-title-decor {
          position: absolute;
          top: 67px;
          left: -23%;
          transform: rotate(90deg);
          font-weight: 500;
          font-size: 14px;
          color: #B3B3B3;
          display: flex;
          align-items: center;
          text-transform: uppercase;

          &::before {
            content: "";
            margin-right: 16px;
            display: block;
            width: 38px;
            height: 1px;
            background-color: #B3B3B3;
          }

          @include to(1650px) {
            left: -7%;
          }

          @include to(1440px) {
            left: 10%;
          }

          @include to(1370px) {
            left: 6%;
          }

          @include to(850px) {
            left: 0;
            top: 78px;
          }

          @include to(770px) {
            left: 2px;
            font-size: 12px;
          }

          @include to(660px) {
            left: 12%;
          }

          @include to(480px) {
            left: 13%;
            top: 72px;
          }

          @include to(375px) {
            left: 3%;
          }

          @include to(320px) {
            left: 4%;
          }
        }

        &-bottom {
          margin-top: 55px;
          display: flex;

          @include to(1650px) {
            margin-left: 120px;
          }

          @include to(1440px) {
            margin-left: 16%;
            margin-top: 30px;
          }

          @include to(1370px) {
            margin-left: 11.5%;
            margin-top: 89px;
          }

          @include to(850px) {
            margin-top: -10px;
          }

          @include to(770px) {
            margin-left: 4%;
          }

          @include to(480px) {
            margin-left: 0;
            padding-left: 16px;
            padding-right: 16px;
          }

          &-left {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include to(850px) {
              margin-top: -133px;
            }
            
            @include to(770px) {
              width: 49%;
            }

            @include to(660px) {
              margin-top: -15px;
              width: 100%;
              align-items: flex-start;
            }

            .choise-us__item--3-list {
              max-width: 537px;
              justify-content: flex-end;

              @include to(1370px) {
                max-width: 475px;
              }
            }

            &-wrap {
              width: 537px;
              text-align: left;
              padding-left: 60px;

              @include to(1440px) {
                padding-left: 53px;
              }

              @include to(1370px) {
                width: 475px;
              }

              @include to(1100px) {
                max-width: 437px;
                padding-left: 30px;
              }

              @include to(660px) {
                padding-left: 51px;
              }

              a {
                padding-left: 0 !important;
                display: inline-flex;
              }

              @include to(1025px) {
                width: 100%;
              }
            }
          }

          &-right {
            width: 56%;
            padding-left: 5%;
            display: flex;
            justify-content: flex-end;

            @include to(850px) {
              padding-left: 8%;
            }

            @include to(660px) {
              display: none;
            }

            img {
              width: 87%;
              height: 87%;
              object-fit: cover;

              @include to(1650px) {
                width: 100%;
                height: 88%;
              }

              @include to(1440px) {
                height: 85%;
              }

              @include to(850px) {
                height: 95%;
              }

              @include to(770px) {
                width: 89%;
              }
            }
          }
        }
      }
    }
  }

  .project {
    padding: 150px 0;
    padding-bottom: 80px;
    background-color: #333333;

    @include  to(1025px) {
      padding-top: 110px;
      padding-bottom: 70px;
    }

    @include to(770px) {
      padding: 75px 0;
    }

    @include to(480px) {
      padding: 48px 0;
    }

    &__title {
      @include to(770px) {
        margin-bottom: 16px;
      }
    }

    &__wrap {
      min-height: 100vh;
      display: flex;
      align-items: center;

      .container {
        position: relative;
      }

      @include to(770px) {
        min-height: auto;
      }
    }

    &__small-title {
      margin-bottom: 11px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1em;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: block;
        width: $border-small-width;
        height: 1px;
        background-color: #B3B3B3;
        margin-right: 6px;
      }

      @include to(1440px) {
        font-size: 12px;

        &::before {
          width: $border-small-width-laptop;
        }
      }

      @include to(480px) {
        font-size: 11px;
      }

      @include to(320px) {
        font-size: 10px;
      }
    }

    &__content {
      margin-bottom: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include  to(1025px) {
        margin-bottom: 50px;
      }

      @include to(480px) {
        margin-bottom: 25px;
      }

      &-left {
        max-width: 56%;
        margin-right: 12%;
        margin-left: 2%;

        @include to(1370px) {
          max-width: 60%;
          margin-left: 0;
          margin-right: 10%;
        }

        @include to(770px) {
          max-width: 100%;
          margin-right: 0;
          margin-left: 47px;
        }

        @include to(650px) {
          margin-left: 0;
        }
      }

      &-right {
        position: absolute;
        right: 5%;
        width: 20%;
        transform: translateY(-42%);

        img {
          width: 10vw;
          height: 47vh;
          object-fit: cover;

          @include to(1370px) {
            width: 100%;
            height: 100%;
          }

          @include  to(1025px) {
            height: 70%;
          }

          @include to(770px) {
            height: 100%;
          }

          @include to(650px) {
            display: none;
          }
        }

        
        @include to(1370px) {
          transform: translateY(-38%);
          margin-right: 20px;
          width: 13vw;
          height: 56vh;
          display: flex;
          justify-content: flex-end;
        }

        @include to(850px) {
          width: 12vw;
          height: 209px;
        }

        @include to(770px) {
          height: 190px;
        }
      }
    }

    &__desc {
      margin-bottom: 20px;

      &::before {
        margin-top: 13px;
        height: 4px;
        transform: translateY(-2px);

        @include to(480px) {
          display: none;
        }
      }

      &--none::before {
        opacity: 0;
        z-index: -1;
      }
    }

    &__list {
      margin-bottom: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 50px;

      @include to(1440px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include  to(1025px) {
        margin-bottom: 30px;
      }

      @include to(770px) {
        margin-bottom: 15px;
      }

      @include to(650px) {
        display: flex;
        column-gap: 0;
        row-gap: 0;
      }
    }

    &__img {
      margin-bottom: 16px;
      position: relative;
      height: 360px;
      overflow: hidden;
      z-index: 1;

      @include to(1440px) {
        height: 370px;
      }

      img {
        height: 100%;
        object-fit: cover;
      }

      &--hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, .72);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .6s;
        transform: translateX(-100%);
      }

      &:hover {
        .project__img--hover {
          z-index: 2;
          transform: translateX(0);
        }
      }

      @include to(1370px) {
        height: 360px;
      }


      @include to(1025px) {
        height: 295px;
      }

      @include to(770px) {
        height: 230px;
      }

      @include to(480px) {
        height: 200px;
      }

      @include to(320px) {
        height: 188px;
      }
    }

    &__item {
      position: relative;
    }

    &__info {
      position: absolute;
      top: 0;
      right: 0;
      width: 130px;
      min-height: 50px;
      font-size: 18px;
      line-height: 1.5em;
      font-weight: 600;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(5px);
      border-radius: 4px 4px 0px 4px;

      sup {
        font-weight: 500;
        font-size: 10px;
        vertical-align: top;
        align-self: flex-start;
        margin-top: 7px;
      }

      @include to(1440px) {
        font-size: 16px;
      }
    }

    &__name {
      text-decoration: none;
      font-family: $druk-cyr;
      font-weight: 700;
      line-height: 2.3em;
      color: #fff;
      text-transform: uppercase;
      transition: all .4s;

      &:hover {
        opacity: .8;
      }

      @include to(770px) {
        display: none;
      }

      @include to(650px) {
        display: block;
        text-align: center;
      }
    }
    
    .project__item-mobile {
      @include to(650px) {
        display: flex;
        position: relative;
        justify-content: center;
      }
    }

    .disabled {
      opacity: 0.3 !important;
    }

    .project__arrow {
      display: none;

      @include to(650px) {
        display: block;
      }

      cursor: pointer;
      position: absolute;
      bottom: 0;
      z-index: 2;
      transition: all .4s;

      svg {
        width: 55px;
        fill: #fff;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .project__prev {
      left: 12px;
      transform: rotate(-180deg);
    }

    .project__next {
      right: 12px;
    }

    &__block {
      display: flex;
      justify-content: flex-end;

      .project__link {
        span {
          right: 19px;
        }

        &:hover {
          span {
            right: 14px;
          }
        }
      }

      @include to(650px) {
        justify-content: center;
        position: relative;
        z-index: 2;
      }
    }
  }

  .contacts {
    position: relative;
    display: flex;
    padding-top: 150px;
    padding-bottom: 140px;

    @include to(1025px) {
      padding: 110px 0;
      padding-bottom: 100px;
    }

    @include to(770px) {
      padding: 75px 0;
    }

    @include to(480px) {
      padding: 40px 0;
    }

    .container {
      display: flex;

      @include to(700px) {
        flex-direction: column;
        padding: 0;
      }
    }

    &__small-title {
      &::before {
        margin-right: 16px;
      }
    }

    &__bg {
      position: absolute;
      bottom: 150px;
      width: 45%;
      height: calc(53% - 150px);
      background: url('../images/contacts-img.jpg') no-repeat center/cover;

      @include to(770px) {
        width: 39%;
      }

      @include to(700px) {
        display: none;
      }
    }

    &__title {
      margin-bottom: 32px;
      font-family: $druk-cyr;

      @include to(480px) {
        margin-bottom: 16px;
      }
    }

    .contacts__block {
      @include to(480px) {
        display: flex;
        justify-content: center;
      }
    }

    &__list {
      margin-bottom: 60px;

      @include to(770px) {
        margin-bottom: 30px;
      }
    }

    &__item {
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      @include to(1025px) {
        margin-bottom: 16px;
      }

      @include to(320px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .contacts__text {
          display: none;
        }

        p {
          padding-right: 105px;
        }
      }

      a {
        display: block;
        color: inherit;
        text-decoration: none;

        @include to(770px) {
          white-space: nowrap;
        }
      }

      &-title {
        font-size: 16px;
        line-height: 1em;
        color: #333;
        font-weight: 700;
        width: 100px;
        margin-right: 20px;
        text-transform: uppercase;

        @include to(1440px) {
          font-size: 14px;
        }

        @include to(480px) {
          margin-right: 12px;
        }

        @include to(375px) {
          margin-right: 0;
        }

        @include to(320px) {
          margin-bottom: 8px;
        }
      }

      &-content {
        color: #808080;
      }

      &--top {
        align-items: flex-start;

        .contacts__item-content {
          margin-top: -7px;
        }
      }
    }

    &__right {
      @include to(700px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
      }

      .contacts__content {
        width: 100%;
        padding-left: 16px;
      }
    }

    &__left {
      margin-right: 130px;
      width: 51%;
      display: flex;
      justify-content: flex-end;

      &-wrap {
        width: 100%;
        height: 100%;
      }

      @include to(1440px) {
        margin-right: 97px;
      }

      @include to(770px) {
        margin-right: 6px;
      }

      @include to(700px) {
        order: 1;
        height: 240px;
        width: 100%;
      }

      @include to(480px) {
        height: 200px;
      }

      @include to(320px) {
        height: 180px;
      }
    }

    &__map {
      width: 96%;
      height: 72%;
      border-radius: 4px;

      @include to(770px) {
        height: 61%;
      }

      @include to(700px) {
        width: 100%;
        height: 100%;
      }
    }

    &__link {
      span {
        right: 19px;

        @include to(320px) {
          top: 48%;
        }
      }

      &:hover {
        span {
          right: 14px;
        }
      }
    }
  }

  .contacts__block {
    button {
      padding: 0;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1445px) {
  #index-page .project__block {
    margin-right: 60px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 770px) {
  #index-page .project__block {
    margin-right: 0;
  }
}
