#id-page-news {
    .news {
        .tabs__header {
            max-width: 1100px;

            @include to(1440px) {
                max-width: 1010px;
            }
        }

        .choise-us__link {
            display: inline-flex;
        }

        .vacancy__block {
            margin-bottom: 75px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__nav {
            &-item {
                margin-bottom: 10px;

                &.current {
                    .news__nav-link {
                        color: #333;
                        font-weight: 700;

                        &.current {
                            color: #333;
                            font-weight: 700;
                        }
                    }
                }
            }

            &-link {
                font-size: 14px;
                color: #808080;
                text-transform: uppercase;
                transition: all .4s;
                text-decoration: none;
                line-height: 1.8em;

                @include to(1440px) {
                    font-size: 12px;
                }
            }
        }

        &__left {
            min-width: 210px; 
            margin-right: 50px;

            @include to(1440px) {
                margin-right: 10px;
            }
        }

        &__right {
            width: 79%;

            @include to(1440px) {
                width: 75%;
            }

            @include to(1370px) {
                width: 79%;
            }
        }

        &__wrap {
            display: flex;
        }

        &-info {
            width: 70%;

            &__type {
                font-weight: 400;
                text-transform: uppercase;
            }

            &__title {
                display: block;
                margin-bottom: 24px;
                font-weight: 700;
                color: #333;
                text-decoration: none;
                transition: all .4s;

                &:hover {
                    opacity: .9;
                }
            }

            &__footer {
                width: 39%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include to(1370px) {
                    width: 48%;
                }

                &-name,
                &-date {
                    font-size: 14px;
                    line-height: 1.8em;
                    text-transform: uppercase;
                    color: #333;
                    font-weight: 700;
                }

                &-date {
                    color: #b3b3b3;
                    font-weight: 500;
                }
            }
        }

        &__item {
            display: flex;
            align-items: center;
            padding-bottom: 23px;
            margin-bottom: 32px;
            border-bottom: 1px solid #f0f0f0;

            &:last-child {
                border-bottom-color: transparent;
            }

            &-link {
                overflow: hidden;
                display: block;
                height: 202px;
                margin-right: 30px;
                width: 30%;

                @include to(1440px) {
                    width: 30%;
                    height: 193px;
                }

                @include to(1370px) {
                    width: 35%;
                    height: 182px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .4s;
                }

                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}