#id-page-projects {
    .vacancy__progress {
        margin-bottom: 73px;
    }

    .projects {
        &-start {
            color: #808088;
            &__top {
                margin-bottom: 59px;
                display: flex;
                position: relative;
                z-index: 2;

                &-text {
                    position: absolute;
                    bottom: 10%;
                    transform: translateY(40%);
                    left: 30%;
                }

                &-title {
                    margin-bottom: 24px;
                    font-size: 26px;
                    line-height: 1.5em;
                    text-transform: uppercase;
                    color: #EC5629;
                    font-family: $druk-cyr;
                    font-weight: 700;

                    @include to(1440px) {
                        font-size: 24px;
                    }
                }

                &-desc {
                    margin-bottom: 24px;
                    color: #808080;

                    &--custom {
                        color: #333;
                        font-size: 20px;
                        line-height: 1.4em;
                        font-weight: 500;

                        @include to(1440px) {
                            font-size: 18px;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &-left {
                    align-self: flex-end;
                    position: relative;
                    width: 37%;
                    margin-right: 9.5%;

                    @include to(1370px) {
                        width: 35%;
                    }
                    
                    &-bottom {
                        background-color: #333;
                        margin-top: 20%;
                        height: 50%;
                        width: 100%;

                        img {
                            transform: translateY(-27%);
                            width: 90%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                &-img {
                    height: 50%;
                    width: 100%;

                    &-bottom {
                        bottom: -43%;
                        right: 0;
                        transform: translateX(20%) translateY(-27%);
                        overflow: hidden;
                        z-index: 2;
                        position: absolute;
                        height: 58%;
                        width: 39%;

                        img {
                            transform: translateY(0);
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &-right {
                    width: 50%;
                }

                &-content {
                    max-width: 625px;

                    @include to(1370px) {
                        max-width: 573px;
                    }
                }
            }

            &__item {
                display: flex;
                .projects-start__text {
                    margin-bottom: 16px;

                    b {
                        color: #333;
                    }
                }
    
                &-number {
                    margin-bottom: 8px;
                    font-size: 26px;
                    line-height: 1.5em;
                    color: #EC5629;
                    font-family: $druk-cyr;
    
                    @include to(1440px) {
                        font-size: 26px;
                        line-height: 1.5em;
                    }
                }
    
                &-title {
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #333;
                }

                &-wrap {
                    margin-bottom: 32px;
                    display: flex;
                    align-items: center;
                }

                .projects-start__item-number {
                    margin-right: 16px;
                }

                &-desc {
                    color: #808080;
                }

                &--1 {
                    margin-bottom: 82px;
                    .projects-start__item-left {
                        align-self: flex-end;
                        width: 34%;
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 64px;

                        &-content {
                            max-width: 300px;
                        }

                        @include to(1150px) {
                            padding-left: 20px;
                        }
                    }

                    .projects-start__item-wrap {
                        display: block;
                    }

                    .projects-start__item-number {
                        margin-right: 0;
                    }

                    .projects-start__item-right {
                        background-color: #333;
                        width: 66%;
                        display: flex;
                        justify-content: center;
                        padding: 60px 30px;

                        .projects-start__item-right-content {
                            max-width: 795px;

                            @include to(1440px) {
                                max-width: 605px;
                                margin-left: 2%;
                            }

                            @include to(1370px) {
                                margin-left: -8%;
                                max-width: 565px;
                            }

                            @include to(1310px) {
                                margin-left: 2%;
                            }

                            @include to(1280px) {
                                margin-left: -2%;
                            }
                        }

                        .projects-start__item-desc {
                            margin-bottom: 16px;
                            color: #C4C4C4;
                            max-width: 850px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        .projects-start__item-title {
                            color: #fff;
                            margin-left: 16px;
                        }

                        .projects-start__item-wrap {
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                &--2 {
                    padding-bottom: 70px;
                    width: 66%;
                    display: flex;
                    margin-left: auto;

                    .projects-start__item-wrap {
                        display: flex;
                        align-items: center;
                    }

                    .projects-start__item-number {
                        margin-right: 16px;
                    }

                    .projects-start__item-left {
                        width: 61%;

                        &-content {
                            max-width: 700px;

                            @include to(1370px) {
                                max-width: 534px;
                                margin-right: 40px;
                            }
                        }
                    }

                    .projects-start__item-right {
                        position: relative;
                        z-index: 10;
                        width: 40%;

                        img {
                            height: 155%;
                            top: -26%;
                            right: 0;
                            position: absolute;
                            width: 91%;
                            object-fit: cover;

                            @include to(1370px) {
                                height: 155%;
                                width: 100%;
                            }

                            @include to(1210px) {
                                height: 145%;
                                top: -22%;
                            }
                        }
                    }

                    .projects-start__item-desc {
                        margin-bottom: 16px;
                    }

                    .projects-start__item-small-title {
                        color: #333;
                        font-weight: 600;
                    }
                }

                &--3 {
                    .projects__item-content {
                        padding-top: 65px;
                        padding-bottom: 110px;
                        width: 97%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #333;

                        @include to(1440px) {
                            width: 84%;
                        }

                        &-wrap {
                            max-width: 850px;

                            @include to(1440px) {
                                max-width: 690px;
                            }
                        }
                    }

                    .projects-start__item-desc {
                        margin-bottom: 16px;
                        font-weight: 600;
                        color: #fff;
                    }

                    .projects-start__item-text {
                        margin-bottom: 16px;
                        color: #c4c4c4;

                        b {
                            color: #fff;
                        }
                    }

                    .projects-start__item-title {
                        color: #fff;
                    }

                    .projects-start__item-wrap {
                        align-items: center;
                        display: flex;
                    }

                    .projects-start__item-number {
                        margin-right: 16px;
                    }

                    &-title {
                        color: #fff;
                    }
                }

                &--4 {
                    position: relative;
                    display: flex;

                    .projects-start__item-left,
                    .projets-start__item-right {
                        position: relative;
                        width: 36%;
                        margin-right: 130px;
                        
                        @include to(1440px) {
                            margin-right: 80px;
                        }
                    }

                    .projects-start__item-left {
                        position: relative;
                        z-index: 2;
                        transform: translateY(-7%);

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            height: 117%;
                            width: 100%;
                            object-fit: cover;

                            @include to(1440px) {
                                height: 115%;
                                width: 100%;
                                top: -6%;
                            }

                            @include to(1370px) {
                                width: 100%;
                                height: 113%;
                                top: -5%;
                            }
                        }
                    }

                    .projets-start__item-right {
                        padding-top: 81px;
                        padding-bottom: 125px;

                        @include to(1440px) {
                            margin-left: 50px;
                        }

                        @include to(1370px) {
                            margin-left: 80px;
                        }
                    }

                    .projects-start__item-wrap {
                        display: flex;
                        align-items: center;
                    }

                    .projects-start__item-number {
                        margin-right: 16px;
                    }

                    .projects-start__text {
                        b {
                            color: #333;
                        }
                    }

                    .projects-start__item--right-content {
                        max-width: 100%;

                        @include to(1370px) {
                            width: 96%;
                        }
                    }
                }

                &--5 {
                    background-color: #333;
                    padding-top: 142px;
                    padding-bottom: 82px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    
                    .projects-start__item--right-content {
                        max-width: 720px;

                        @include to(1440px) {
                            margin-left: 140px;
                            max-width: 650px;
                        }

                        @include to(1150px) {
                            margin-left: 60px;
                        }
                    }

                    .projects-start__item-wrap {
                        display: flex;
                        align-items: center;
                    }

                    .projects-start__item-number {
                        margin-right: 16px;
                    }

                    .projects-start__item-title {
                        color: #fff;
                    }
                }

                &--6 {
                    position: relative;
                    padding-top: 80px;  
                    padding-bottom: 82px;

                    .projects-start__block {
                        @include to(1440px) {
                            margin-right: 150px;
                        }

                        @include to(1370px) {
                            margin-right: 0;
                        }
                    }

                    img {
                        position: absolute;
                        width: 20%;
                        top: -19%;
                        height: 86%;
                        object-fit: contain;
                        right: 0;

                        @include to(1440px) {
                            width: 27%;
                            height: 81%;
                            object-fit: cover;
                        }

                        @include to(1370px) {
                            width: 28%;
                            height: 72%;
                        }
                    }

                    .container {
                        display: flex;
                        align-items: flex-end;

                        @include to(1370px) {
                            justify-content: space-between;
                            max-width: 1010px;
                        }
                    }

                    .projects-start__content {
                        margin-right: 120px;
                        max-width: 75%;

                        @include to(1440px) {
                            max-width: 66%;
                            margin-left: 135px;
                            margin-right: 130px;
                        }

                        @include to(1370px) {
                            width: 80%;
                            margin-left: 60px;
                            margin-right: 0;
                        }

                        @include to(1280px) {
                            margin-left: 55px;
                        }

                        @include to(1150px) {
                            margin-left: 33px;
                        }
                    }

                    .choise-us__link {
                        display: inline-flex;

                        @include to(1440px) {
                            min-width: 189px;
                        }
                    }
                }
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(370px, 400px));
            column-gap: 29px;
            row-gap: 69px;
            margin-bottom: 60px;

            @include to(1370px) {
                grid-template-columns: repeat(auto-fit, minmax(354px, 375px));
            }

            @include to(1300px) {
              grid-template-columns: repeat(auto-fit, minmax(354px, 354px));
            }

            @include to(1025px) {
              grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
            }

          @include to(950px) {
            justify-content: center;
          }

          @include to(770px) {
            grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
          }

          @include to(700px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          }
        }

        &__img {
            position: relative;
            width: 100%;
            object-fit: contain;
            height: 280px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transition: all .4s;
            }

            &:hover {
                .project__img--hover {
                    transform: translateX(0) !important;
                    transition: all 0.4s;
                }
            }

            @include to(1025px) {
              height: 250px;
            }

          @include to(800px) {
            height: 223px;
          }

          @include to(480px) {
            height: 200px;
          }
        }

        &__item {
            text-decoration: none;

            .border-decor-top,
            .border-decor-right {
                top: calc(100% - 1px);
            }

            .border-decor-right {
                top: calc(100% - 38px)
            }

            &:hover {
                .projects__img img {
                    transform: scale(1.2);
                }

                .border-decor-top {
                    width: 100%;
                }

                .border-decor-right {
                    top: calc(0% - 1px);
                    height: calc(100% + 3px);
                }
            }
        }

        &__name {
            margin-bottom: 16px;
            line-height: 2.3em;
            color: #EC5629;
            font-family: $druk-cyr;
            text-transform: uppercase;
            font-weight: 600;
        }

        &__square {
            min-width: 92px;
            max-width: 130px;
            min-height: 48px;
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
            border-radius: 4px 4px 0px 4px;
            font-size: 16px;
            line-height: 1.5em;
            font-weight: 600;
            color: #fff;

            sup {
                margin-top: -6px;
                font-size:10px;
            }

            @include to(1440px) {
                font-size: 14px;
            }
        }

        &__content {
            position: relative;
            padding: 24px 21px;
            background-color: #fff;
            border: 1px solid #C6C5C5;
            border-top-color: transparent;
        }

        &__info {
            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-title {
                color: #808080;
            }

            &-desc {
                color: #333;
                font-weight: 500;
            }
        }

        &__progress-link {
            display: inline-flex;
        }
    }

    .vacancy__block {
        display: flex;
        justify-content: center;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1445px) {
    .projects-start__item-right {
      width: 74% !important;
    }

    #id-page-projects .projects-start__top-left {
        width: 32%;
        margin-right: 11.5%;
    }

    #id-page-projects .projects-start__top-img-bottom {
        width: 51%;
        height: 70%;
        bottom: -56%;
    }

    #id-page-projects .projects-start__top-text {
        left: 20%;
    }

    #id-page-projects .projects-start__item--1 .projects-start__item-right .projects-start__item-right-content {
        margin-left: -3%;
    }

    #id-page-projects .projects-start__item--1 .projects-start__item-right {
        padding-bottom: 70px;
    }

    #id-page-projects .projects-start__item--2 .projects-start__item-right img {
        height: 151%;
        top: -24%;
    }
}

.project__img--hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.72);
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    transition: all .4s;
    transform: translateX(-100%);
}
