#id-page-services {
    .services {
        &__inner-page-title {
            margin-bottom: 78px;
            @include to(992px){
                margin-bottom: 32px;
            }
        }
        &__hero-title{
            @include to(992px){
                font-size: 24px !important;
                margin-bottom: 24px;
            }
            @include to(640px){
                font-size: 16px !important;
                margin-bottom: 16px;
            }
        }
        &__hero {
            margin-bottom: 88px;
            display: flex;
            @include to(992px){
                margin-bottom: 40px;
            }
            @include to(640px){
                flex-direction: column;
            }

            &-left {
                position: relative;
                width: 45%;
                @include to(640px){
                    width: 100%;
                    margin-bottom: 75px;
                }

                .bg {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                    background-color: #333;
                    @include to(992px){
                        bottom: auto;
                        top: 25%;
                        height: 25%;
                    }
                    @include to(640px){
                        bottom: -50px;
                        top:auto;
                        height: 45%;
                    }
                }

                img {
                    position: relative;
                    z-index: 2;
                    width: 93%;
                    height: 79%;
                    object-fit: cover;
                    @include to(992px){
                        height: 40%;
                    }
                }
            }

            &-right {
                padding-bottom: 70px;
                position: relative;
                margin-left: 90px;
                width: 55%;
                @include to(992px){
                    margin-left: 45px;
                    padding-right: 30px;
                    padding-bottom: 0;
                }
                @include to(640px){
                    width: 100%;
                    padding-right: 16px;
                    padding-left: 16px;
                    margin-left: 0;
                    margin-top: 24px;
                }
            }

            &-wrap {
                max-width: 750px;
                @include to(992px){
                    max-width: 375px;
                }
            }

            &-small-title {
                margin-bottom: 12px;
                line-height: 1em;
                font-weight: 500;
                text-transform: uppercase;
            }

            &-desc {
                margin-bottom: 20px;
            }

            .choise-us__link {
                margin-top: 42px;
                display: inline-flex;
                @include to(992px){
                    margin-top: 12px;
                }
            }
        }

        &__tabs {
            margin-bottom: 56px;

            .header-tabs {
                max-width: 1400px;
                padding-bottom: 60px;
                @include to(992px){
                    flex-wrap: wrap;
                }
            }

            .single-tab-title{
                &:nth-child(4){
                    @include to(992px){
                        margin-top: 16px;
                        @include to(640px){
                            margin-top: 0;
                        }
                    }
                }
               
            }
        }
        &__table{
            margin-bottom: 72px;
        }
    }

    .table-services{
        @include to(992px){
            overflow-x: hidden;
            overflow-y: visible;
            width: 100vw;
        }
        &__list{
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            list-style-position: inside;
        }
        &__col{
            padding-top: 40px;
            padding-bottom: 40px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            &_1{
                flex-basis: 30%;
                width: 30%;
                font-weight: 600;
                color: #333;
            }
            &_2{
                text-align: center;

            }
            &_3{
                flex-basis: 40%;
                width: 40%;
            }
        }
        &__table-header{
            background-color: #333;
            .table-services__col{
                text-align: center;
            }
            @include to(992px){
                overflow-x: scroll;
                overflow-y: visible;
                background-color: #fff;
                position: relative;
                padding-bottom: 20px;
            }
            &::before{
                @include to(992px){
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1000px;
                    height: calc(100% - 32px);
                    background-color: #333;
                }
            }
            .container{
                @include to(992px){
                    max-width: none;
                    width: 1000px;
                }
            }

        }
        &__table-wrapper{
            @include to(992px){
                overflow-y: scroll;
            }
        }
        &__inner{
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
        }
        &__header-title{
            color: #fff;
        }
        &__table{
            margin-bottom: 50px;
            @include to(992px){
                width: 1000px;
            }
            tr{
                position: relative;
                
                &:nth-child(odd){
                    background: #FAFAFA;
                }
            }

        }
        &__table-row{

            &:nth-child(odd){
                background: #FAFAFA;
            }
        }
        &__table-row-inner{
            display: flex;
            justify-content: space-between;
        }
    }

    .serv-bot-sec{
        display: flex;
        padding-bottom: 200px;
        @include to(992px){
            position: relative;
            padding-bottom: 100px;
        }
        @include to(640px){
            display: none;
        }
        &__block1{
            display: flex;
            justify-content: center;
            width: 50%;
            background: #333333;
            padding: 8% 0;
            @include to(992px){
                width: 65%;
                padding: 12% 0;
            }
        }
        &__block2{
            width: 30%;
            transform: translate(-25%, 25%);
            @include to(992px){
                width: 45%;
                transform: translate(0, 0);
                position: absolute;
                right: 0;
                bottom: 40px;
            }
        }
    }
}