.table-build-descr{
	&__radio-btn-wrapper + &__radio-btn-wrapper{
		margin-top: 12px;
	}
	td.table-build-descr__colspan{
		padding-left: 0;
		text-align: left;
		color: #808080;
		font-weight: normal;
	}
	&__prep-text{
		max-width: 190px;
		display: block;
		@include to(1440px){
			max-width: 170px;
		}
	}
}

.header-tabs.single-project-tabs{
	justify-content: space-between;
	.header-tabs__single-tab-title + .header-tabs__single-tab-title{
		margin-left: 10px;
		@include to(640px){
			margin-left: 0;
		}
	}
}

.project-plan-tab{
	&__title{
		margin-bottom: 30px;
	}
	&__inner{
		display: flex;
		// max-width: 1020px;
		margin: 0 auto;
		max-width: 1160px;
		@include to(1370px){
			max-width: 980px;
		}
		@include to(1024px){
		}
		@include to(640px){
			max-width: 100%;
			flex-direction: column;
		}
	}

	&__slider-wrapper{
		display: flex;
		flex-basis: 60%;
		@include to(1024px){
			flex-wrap: wrap;
		}
		@include to(640px){
			flex-basis: 100%;
		}
	}
	&__slider{
		max-width: 400px;
		overflow: hidden;
		margin: 0 auto;
		overflow: hidden;
		@include to(640px){
			max-width: 100%;
		}
	}

	&__info{
		flex-grow: 1;
		@include to(640px){
			padding: 0 16px;
			margin-top: 16px;
		}
	}

	&__slider-control{
		flex-basis: 80px;
		flex-shrink: 0;
	}
}

.preview-progress-bar{
	@include to(1024px){
		display: flex;
		align-items: center;
	}
	@include to(640px){
		display: none;
	}
	&__slides-number{
		@include to(1024px){
			margin: 0 15px;
		}
	}
	&__arrow{
		padding: 15px 0;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		&_next{
			transform: rotate(180deg);
		}
		svg{
			transition: all .3s;
			width: 13px;
			height: 20px;
			fill: #808080;
		}
		&:hover{
			svg{
				fill: #EC5629;
			}
		}
	}
	&__arrow.swiper-button-disabled{
		svg{
			fill: #C4C4C4;
		}
	}
}

.plan-tab-list{
	counter-reset: my-awesome-counter;
  list-style: none;
	padding-left: 0;

	&__item{
		counter-increment: my-awesome-counter;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding-left: 40px;
		&::before{
			content: '/ ' counter(my-awesome-counter, decimal-leading-zero);
			color: #333333;
			font-size: 16px;
			line-height: 1.5;
			font-weight: 600;
			margin-right: 20px;
			position: absolute;
			left: 0;
			top: 4px;
		}
	}

	&__item + &__item{
		margin-top: 16px;
	}

	&__key{
		min-width: 150px;
		display: inline-block;
		color:#808080;
	}

	&__value{
		font-weight: 700;
		color: #333333;
		text-align: right;
	}
}

.slider-control{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	@include to(1024px){
		justify-content: space-around;
		flex-basis: 100%;
	}
	@include to(640px){
		justify-content: flex-start;
		padding: 0 16px;
		margin-bottom: 15px;
	}
	&__subtitle{
		position: absolute;
		top: 0;
		left:0;
		@include to(1024px){
			position: static;
		}
	}
}

.project-specs-tab{
	&__spec-table{
		&_2{
			padding-top: 60px;
			display: flex;
			justify-content: space-between;
			.spec-table__col{
				flex-basis: 50%;
				&:nth-child(2){
					padding-left: 20px;
				}
			}
			@include to(1024px){
				display: none;
			}
		}
	}
}

.spec-table-higlight{
	color: #EC5629;
}

.spec-table{
	line-height: 150%;
	max-width: 1160px;
	margin: 0 auto;
	color:#808080;
	@include to(1370px){
		max-width: 980px;
	}
	@include to(1024px){
		text-align: center;
		margin-top: 20px;
	}
	@include to(640px){
		margin-top: 15px;
		text-align: left;
	}
	thead{
		th{
			padding: 30px 0;
			&:nth-child(2){
				padding: 30px 0 30px 24px;
			}
		}
	}
	tbody{
		td{
			padding: 12px 24px;
		}

		tr{
			&:nth-child(odd){
				background: #FAFAFA;
			}
		}
		
	}
}

.project-about-tab{
	&__inner{
		// max-width: 1020px;
		max-width: 1160px;
		@include to(1370px){
			max-width: 980px;
		}
		margin: 0 auto;
	}
	&__list{
		color: #ffffff;
		@include to(1024px){
			max-width: 575px;
			margin: 0 auto;
		}
		li{
			list-style-type: '-  ';
			list-style-position: inside;
			&::marker{
				margin-right: 5px;
			}
		}
	}
	&__text{
		@include to(1024px){
			max-width: 575px;
			margin: 0 auto;
		}

	}
	&__sec1{
		padding-bottom: 40px;
		color:#808080;
		@include to(640px){
			padding: 0 16px 40px;
		}
	}
	&__sec2{
		padding: 75px 90px;
		background: #333333;
		@include to(1024px){
			padding: 72px 0;
		}
		@include to(640px){
			padding: 24px 16px;
		}
	}
	&__sec2-title{
		margin-bottom: 15px;
		@include to(1024px){
			max-width: 575px;
			margin: 0 auto 15px;
		}
	}
}
.project-sklad-tab{
	&__list{
		@include to(640px){
			padding: 0 16px;
		}
	}
	&__inner{
		// max-width: 1020px;
		max-width: 1160px;
		@include to(1370px){
			max-width: 980px;
		}
		@include to(1024px){
			max-width: 100%;
		}
		margin: 0 auto;
	}

}
.sklad-list{
	&__link{
		margin-top: 20px;;
	}
	&__key{
		flex-basis: 30%;
		flex-shrink: 0;
		@include to(1024px){
			flex-basis: 40%;
		}
	}
	&__title{
		line-height: 1.5;
		@include to(640px){
			margin-bottom: 8px;
		}
	}
	&__value{
		color:#808080;
	}
	&__item{
		display: flex;
		@include to(640px){
			flex-direction: column;
		}
	}
	&__item + &__item{
		margin-top: 30px;
		@include to(640px){
			margin-top: 16px;
		}
	}
	&__ordered-list{
		padding-left: 0;
		li{
			list-style-type: decimal;
			list-style-position: inside;
			
		}
	}
}

.question-popup {
	margin-left: 10px;
	position: relative;
	&:hover{
		.question-popup__dialog{
			opacity: 1;
			pointer-events: all;
			z-index: 10;
		}
	}
	&__question-mark {
		border-radius: 50%;
		border: 1px solid #B3B3B3;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 17px;
		height: 17px;
		// position: absolute;
		// top: 0;
		svg{
			width: 6px;
			height: 8px;
		}
	}
	&__dialog{
		opacity: 0;
		position: absolute;
		pointer-events: none;
		padding: 13px 16px;
		border-radius: 4px;
		border: 1px solid #B3B3B3;
		background: #fff;
		top: 25px;
		left: -20px;
		&::before{
			content: '';
			display: block;
			border-top: 1px solid #B3B3B3;
			border-left: 1px solid #B3B3B3;
			background: #fff;
			z-index: 5;
			transform: rotate(45deg);
			top: -4px;
			position: absolute;
			left: 24px;
			width: 8px;
			height: 8px;

		}

		span{
			font-size: 12px;
			line-height: 1.5;
			font-weight: 500;
			color:#B3B3B3;
			max-width: 260px;
			display: block;
			width: 260px;
		}
	}
}

.mob-toggle-btn{
	display: none;
	@include to(1024px){
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__btn{
		margin: 0 20px;
		appearance: none;
		position: relative;
		display: inline-block;
		width: 126px;
		height: 40px;
		vertical-align: top;
		background: #ffffff;
		border: 2px solid #EC5629;
		border-radius: 30px;
		outline: none;
		cursor: pointer;
		@include to(640px){
			border: 1px solid #EC5629;
			width: 74px;
			height: 22px;
			margin: 0 7px;
		}
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 67px;
			height: 36px;
			background-color: #EC5629;
			border-radius: 999px;
			transform: translateX(0);
			transition: all .3s;
			@include to(640px){
				width: 39px;
				height: 20px;
			}
		}
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 13px;
			top: 9px;
			z-index: 2;
			width: 17px;
			height: 17px;
			background-color: #fff;
			border-radius: 50%;
			transform: translateX(0);
			transition: all .3s;
			@include to(640px){
				width: 10px;
				height: 10px;
				left: 8px;
				top: 5px;
			}
		}
		&:checked::after {
			transform: translateX(55px);
			@include to(640px){
				transform: translateX(34px);
			}
		}
		&:checked::before {
			transform: translateX(55px);
			@include to(640px){
				transform: translateX(34px);
			}
		}
	}
	&__text{
		font-size: 18px;
		line-height: 144%;
		font-weight: 700;
		color: #808080;
	}
	&__text.active{
		color: #EC5629;
	}
}

.project-specs-tab__spec-table_optima{
	td:nth-child(2){
		display: none;
	}
	th{
		display: none;
	}
}
.project-specs-tab__spec-table_prime{
	td:nth-child(1){
		display: none;
	}
	th{
		display: none;
	}
}