.sb{
	&__inner-page-title{
		margin-bottom: 35px;
		@include to(640px){
			padding: 0 16px;
		}
	}
	.container{
		@include to(640px){
			padding: 0;
		}
	}
}

.content-sb{
	padding-top: 50px;
	padding-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include to(640px){
		padding-top: 0;
	}
	&__inner{
		display: flex;
		flex-basis: 1160px;
		justify-content: space-between;
		@include to(1370px){
			padding: 0 25px;
			flex-basis: 980px;
		}
		@include to(1280px){
			max-width: 940px;
		}
		@include to(1024px){
			flex-wrap: wrap;
			padding: 0 45px;
		}
		@include to(640px){
			padding: 0;
			max-width: 100%;
		}
	}
	&__descr{
		padding-left: 60px;
		flex-shrink: 0;
		flex-grow: 1;
		@include to(1370px){
			padding-left: 50px;
			flex-shrink: 1;
		}
		@include to(1280px){
			padding-left: 40px;
		}
		@include to(1024px){
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
		}
		@include to(640px){
			padding: 0 16px;
		}
	}
	&__arrow{
		display: flex;
		align-items: center;
		@include to(640px){
			display: none;
		}
		svg{
			fill: #c4c4c4;
			width: 45px;
			transition: all .3s;
			@include to(1024px){
				width: 28px;
				height: 15px;
			}
		}
		&_prev{
			transform: rotate(180deg);
			&:hover{
				svg{
					fill: #333;
				}
			}
		}
		&_next{
			transition: all .3s;
			svg{
				fill: #EC5629;		
			}
			&:hover{
				transform: translateX(15px);
			}
		}

	}
}

.product-gallery{
	display: flex;
	padding: 20px 0;
	// flex-wrap: wrap;
	@include to(1024px){
		flex-basis: 100%;
		justify-content: center;
		padding: 0;
		margin-bottom: 30px;
	}
	@include to(640px){
		max-width: 100%;
		margin-bottom: 16px;
	}

	.swiper-slide{
		img{
			height: 100%;
			object-fit: cover;
		}
	}
	&__main{
		height: 100%;
		width: 565px;
		margin-left: 0;
		margin-right: 0;
		@include to(1370px){
			width: 505px;
		}
		@include to(1280px){
			width: 480px;
		}
		@include to(1024px){
			max-width: 475px;
			max-height: 315px;
		}
		@include to(640px){
			max-width: 100%;
			width: 100%;
		}

	}
	&__thumbs{
		width: 100px;
		// height: 375px;
		height: 100%;
		max-height: 440px;
		margin-right: 20px;
		margin-left: 0;
		@include to(1024px){
			width: 85px; 
			margin-right: 15px;
			max-height: 315px;
		}
		@include to(640px){
			display: none;
		}

		.swiper-slide{
			position: relative;
			cursor: pointer;
			// max-height: 100px;
			&:hover{
				&::after{
					opacity: 1;
				}
			}
			&::after{
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100px;
				height: 2px;
				// height: calc(100px - 13px);
				background: #EC5629;
				opacity: 0;
				transition: all .5s;
				@include to(1024px){
					width: 85px;
				}
			}
			img{
				height: 100%;
				object-fit: cover;
			}
			&-thumb{

				&-active{
					&::after{
						opacity: 1;
					}
				}
			}
		}

	}

	&__controls{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 5;
		@include to(640px){
			right: calc((25% - 10px) /2)
		}
		@include to(500px){
			right: calc((26% - 10px) /2)
		}
	}

	&__size{
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(5px);
		border-radius: 4px 4px 0px 4px;
		width: 140px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.5;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
		@include to(640px){
			right: calc((25% - 10px) /2);
			font-size: 12px;
		}
		@include to(500px){
			right: calc((26% - 10px) /2);
			width: 74px;
			height: 40px;
		}
		sup{
			font-weight: 500;
			font-size: 12px;
		}
	}
}

.cntrl-prod-gal{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 140px;
	padding: 13px 28px;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
	border-radius: 4px 0px 4px 4px;
	&__arrow.swiper-button-disabled{
		svg{
			fill: #949292;
		}
	}
	&__arrow{
		display: flex;
		align-items: center;
		background: none;
		outline: none;
		border: none;
		padding: 0;
		svg{
			fill: #fff;
			height: 13px;
			width: 25px;
		}
		&_prev{
			transform: rotate(180deg);
		}
	}

	&__line{
		display: block;
		width: 2px;
		height: 23px;
		background: #ffffff;
	}
}

.build-descr{
	&__title{
		margin-bottom: 16px;
		max-width: 350px;
		@include to(1024px){
			font-size: 24px;
			flex-basis: 40%;
		}
		@include to(640px){
			flex-basis: 100%;
		}
	}
	&__subtitle{
		font-weight: 700;
		font-size: 16px;
		line-height: 1.5;
		color: #333;
		margin-bottom: 15px;
	}
	&__table{
		font-size: 16px;
		line-height: 1.5;
		color: #808080;
		width: 100%;
		margin-bottom: 35px;
		@include to(1024px){
			flex-basis: 60%;
			margin-bottom: 24px;
			width: 60%;
		}
		@include to(640px){
			flex-basis: 100%;
			width: 100%;
		}
		td {
			padding: 15px 0;
			@include to(1370px){
				padding: 10px 0;
			}
			@include to(1024px){
				padding: 4px 0;
			}
			&:first-child{
				padding-right: 10px;
				@include to(1370px){
					padding-right: 5px;
				}

			}
			&:last-child{
				padding-left: 10px;
				font-weight: 700;
				color: #333;
				text-align: right;
				@include to(1370px){
					padding-left: 5px;
				}
			}
		}
	}
	&__link{
		font-size: 14px;
		display: inline-flex;
		@include to(1024px){
			margin-left: 40%;
			padding-left: 0;
		}
		@include to(640px){
			margin: 0 auto;
			padding: 0;
		}

		span {
			right: 25px;
		}

		&:hover {
			span {
				right: 20px;
			}
		}
	}
}

.sb-ss {
	padding-bottom: 90px;
	@include to(1024px){
		padding-bottom: 40px;
	}
	// @include to(640px){
	// 	padding-bottom: 10px;
	// }
	.container{
		@include to(640px){
			padding: 0;
		}
	}
	.tabs__header{
		// max-width: 1020px;
		max-width: 1160px;
		@include to(1370px){
			max-width: 980px;
		}
		@include to(1280px){
			max-width: 940px;
		}
		@include to(1024px){
			max-width: 575px;
			flex-wrap: wrap;
			justify-content: space-between;

		}
		justify-content: flex-start;
		.header-tabs__single-tab-title{
			text-decoration: none;
			@include to(1024px){
				flex-basis: auto;
			}
			@include to(640px){
				height: 45px;
			}
			&:nth-child(1){
				@include to(1024px){
					order: 1;
				}
				@include to(640px){
					flex-basis: calc(50% - 8px);
				}
			}
			&:nth-child(2){
				@include to(1024px){
					order: 2;
				}
				@include to(640px){
					flex-basis: calc(50% - 8px);
					padding: 6px 20px;
				}
			}
			&:nth-child(3){
				@include to(1024px){
					order: 4;
					flex-basis: 100%;
					text-align: center;
					margin-top: 30px;
				}

				@include to(640px){
					flex-basis: 100%;
					margin-top: 0;
					order: 3;
					margin-left: 0;
				}
			}
			&:nth-child(4){
				@include to(1024px){
					order: 3;
				}
				@include to(640px){
					flex-basis: calc(50% - 8px);
					padding: 6px 20px;
					order: 4;
				}
			}
		}
		.header-tabs__single-tab-title + .header-tabs__single-tab-title{
			margin-left: 60px;
			@include to(1370px){
				margin-left: 30px;
			}
		}
	}

	&__tabs{
	}

	.tabs{
		&__header{
			margin-bottom: 60px;
			@include to(1024px){
				margin-bottom: 32px;
			}

		}

		&__body{
		}
	}
	&__constr-filter{
		max-width: 800px;
		margin: 0 auto 70px;
	}
	&__constr-slider{

	}
}

.constr-filter{
	display: flex;
	justify-content: space-between;
	position: relative;
	&__item{
		font-family: $default-font;
		font-size: 16;
		line-height: 1.5;
		font-weight: 700;
		position: relative;
		text-decoration: none;
		cursor: pointer;

		&.active{
			.constr-filter__num{
				color: #EC5629
			}
			.constr-filter__text{
				color: #333;
				&::after{
					width: 100%;
				}
			}
		}
		&:hover{
			.constr-filter__num{
				color: #EC5629
			}
			.constr-filter__text{
				color: #333;
				&::after{
					width: 100%;
				}
			}
		}
	}
	&__num{
		color: #C4C4C4;
		margin-right: 6px;
		transition: all .5s;
	}
	&__text{
		color: #C4C4C4;
		position: relative;
		transition: all .5s;
		&::after{
			content: '';
			display: block;
			height: 3px;
			width: 0%;
			transform-origin: left;
			background: #EC5629;
			position: absolute;
			bottom: -6px;
			left: 0;
			transition: all .5s;
		}
	}
}

.constr-slider {
	display: flex;
	// justify-content: space-between;
	&__slider{
		padding: 60px 0 0;
		// max-width: 1020px;
		max-width: 1160px;
		width: 100%;
		@include to(1370px){
			max-width: 980px;
		}
	}

	&__arrow{
		display: flex;
		align-items: center;
		background: none;
		outline: none;
		border: none;
		svg{
			fill: #c4c4c4;
			width: 45px;
			transition: all .3s;
		}
		&_prev{
			transform: rotate(180deg);
		}
		&:hover{
			svg{
				fill: #333;
			}
		}
	}
	
}

.constr-slide{
	text-decoration: none;
	font-size: 16px;
	line-height: 1.5;

	&:nth-child(even){
		transform: translateY(-60px);
	}
	&__img-wrapper{
		margin-bottom: 15px;
	}
	&__date{
		color: #808080;
		font-weight: 500;
	}
	&__title{
		color: #333333;
		font-weight: 700;
	}
}

.project-tab{
	&__inner{
		display: flex;
		
		@include to(1280px){
			max-width: 940px;
			margin: 0 auto;
		}
	}
	&__col{
		flex-basis: 50%;
		&:first-child{
			padding-right: 5%;
		}
		&:last-child{
			padding-left: 5%;
		}
	}
	&__subtitle{
		font-weight: 700;
		color: #333;
		font-size: 16px;
		line-height: 1;
		margin-bottom: 40px;
	}
	&__table{
		font-size: 16px;
		line-height: 1.5;
		color: #808080;
		margin-bottom: 50px;
		td {
			padding: 8px 0;
			&:first-child{
				padding-right: 10px;
			}
			&:last-child{
				padding-left: 10px;
				font-weight: 700;
				color: #333;
				text-align: right;
			}
		}
	}
	&__item{
		margin-bottom: 40px;
		font-size: 16px;
		line-height: 1.5;
		color: #808080;
	}
	&__img-wrapper{
		max-width: 380px;
		margin-left: auto;
	}
	&__plan{
		margin-bottom: 40px;
	}
}