#id-page-single-vacancy {
    color: #808080;

    .single-vacancy {

        &__mobile {
            display: none;

            @include to(480px) {
                display: block;

                &--correct {
                    margin-bottom: 15px;
                }
            }
        }

        &__img {
            margin-bottom: 45px;
            height: 350px;
            width: 100%;
            object-fit: cover;

            img {
                height: 100%;
                object-fit: cover;
            }

            @include to(1440px) {
                height: 305px;
            }

            @include to(480px) {
                display: none;
            }
        }

        &__btn {
            span {
                right: 25px;
            }

            &:hover {
                span {
                    right: 20px;
                }
            }
        }

        &__back {
            margin-bottom: 24px;
            display: inline-flex;
            align-items: center;
            color: #808080;
            font-weight: 500;
            text-decoration: none;

            @include to(600px) {
                margin-bottom: 0;
            }

            @include to(480px) {
                margin-left: 18px;
            }

            svg {
                width: 45px;
                height: 24px;
                margin-right: 16px;
                transition: all .4s;
            }

            &:hover {
                svg {
                    transform: translateX(-5px);
                }
            }
        }

        &__title {
            font-family: $druk-cyr;
            margin-bottom: 24px;
            font-size: 26px;
            line-height: 2em;
            color: #EC5629;
            text-transform: uppercase;

            @include to(1440px) {
                font-size: 24px;
            }

            @include to(600px) {
                font-size: 20px;
                margin-bottom: 13px;
            }
        }

        &__desc {
            max-width: 950px;

            &-item {
                margin-bottom: 32px;

                @include to(770px) {
                    margin-bottom: 24px;
                }

                @include to(600px) {
                    margin-bottom: 15px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &-title {
                    font-size: 20px;
                    line-height: 1.4em;
                    color: #333;
                    font-weight: 700;
                    margin-bottom: 16px;

                    @include to(770px) {
                        margin-bottom: 10px;
                    }

                    @include to(320px) {
                        font-size: 18px;
                    }
                }
            }

            &-list {
                &-item {
                    font-family: $tt-first-neue;
                    font-weight: 400;
                }
            }

            &-text {
                margin-bottom: 80px;
                padding-right: 28%;
                font-weight: 700;
                color: #333;

                @include to(770px) {
                    margin-bottom: 40px;
                    padding-right: 0;
                }
            }
        }

        &__form {
            margin-bottom: 97px;

            @include to(600px) {
                margin-bottom: 50px;
            }

            &-wrap {
                max-width: 950px;

                @include to(770px) {
                    .popup-contacts__item-wrap .popup-contacts__item-file {
                        width: 28%;
                    }
                    margin-right: 70px;
                }

                @include to(600px) {
                    margin-right: 20px;
                }

                @include to(480px) {
                    margin-right: 0;

                    .popup-contacts__item-wrap .popup-contacts__item-file {
                        width: 100%;
                        margin-right: 0;
                        padding-right: 0;
                        justify-content: flex-start;
                        margin-bottom: 20px;

                        .popup-contacts__item-wrap {
                            margin-bottom: -20px !important;
                        }
                    }
                }
            }

            &-title {
                margin-bottom: 40px;
                font-size: 26px;
                line-height: 1em;
                font-family: $tt-first-neue;
                font-weight: 700;
                color: #EC5629;

                @include to(1440px) {
                    font-size: 24px;
                }

                @include to(770px) {
                    margin-bottom: 25px;
                }

                @include to(600px) {
                    font-size: 20px;
                }

                @include to(320px) {
                    font-size: 18px;
                }
            }

            .popup-contacts__title {
                margin-bottom: 18px;

                @include to(480px) {
                    margin-bottom: 13px;
                }
            }

            .popup-contacts__wrap {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
                column-gap: 29px;
                row-gap: 22px;

                @include to(770px) {
                    column-gap: 20px;

                    &--tablet {
                        grid-template-columns: 198px 1fr;
                    }
                }

                @include to(600px) {
                    grid-template-columns: 1fr;
                    column-gap: 0;
                    row-gap: 0;
                }
            }

            .popup-contacts__item {
                width: auto;

                .popup-contacts__item-label span  {
                    margin-bottom: 21px;
                }

                &--file {
                    margin-bottom: 50px;
                }
            }

            &-block {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include to(480px) {
                    margin-top: 32px;
                    .single-vacancy__share {
                        display: none;
                    }
                }
            }

            &-info {
                margin-bottom: 25px;

                @include to(600px) {
                    margin-bottom: 16px;
                }

                @include to(480px) {
                    margin-top: -15px;
                }
            }

            &-text {
                sup {
                    color: #333;
                }
            }
        }
    }
}

.single-vacancy__share {
    display: flex;
    align-items: center;
    text-decoration: none;

    span:first-child {
        margin-right: 16px;
        font-family: $default-font;
        font-size: 20px;
        line-height: 1.4em;
        color: #808080;
    }

    &-block {
        width: 55px;
        height: 55px;
        background: #EC5629;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        transition: all .4s;

        svg {
            width: 19px;
            height: 22px;
        }
    }

    &:hover {
        .single-vacancy__share-block {
            background-color: darken(#EC5629, 10%);
        }
    }
}