#id-page-team {
  .sec1-team {
    & > .container {
      @include to(480px) {
        padding: 0;
      }
    }
  }

	.team {
		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
			column-gap: 82px;
			row-gap: 39px;
			margin-bottom: 50px;
			margin-right: 50px;

			@include to(1370px) {
				column-gap: 55px;
			}

      @include to(1150px) {
        margin-right: 0;
        column-gap: 47px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      }

      @include to(850px) {
        column-gap: 30px;
      }

      @include to(770px) {
        grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
        column-gap: 23px;
      }

      @include to(480px) {
        display: flex;
        column-gap: 0;
        grid-template-columns: 1fr;
      }
		}

		&__footer {
			display: grid;
			column-gap: 82px;
			grid-template-columns: repeat(auto-fit, minmax(310px, 375.33px));
			margin-bottom: 50px;

			@include to(1370px) {
				column-gap: 55px;
				grid-template-columns: repeat(auto-fit, minmax(310px, 322px));
			}

			@include to(1025px) {
				column-gap: 10px;
				grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
			}

      @include to(770px) {
        display: flex;
        justify-content: center;
      }

      @include to(480px) {
        display: none;
      }

			.choise-us__link {
				display: inline-flex;
			}
		}

		&__content {
			width: calc(100% - 55px);

			@include to(1370px) {
				width: calc(100% - 48px);
			}

      @include to(480px) {
        width: 100%;
      }
		}

		&__item {
			position: relative;
			display: flex;

      @include to(480px) {
        width: 100%;
      }
		}

    &__position {
      @include to(480px) {
        width: calc(100% - 50px);
      }
    }

		&__name {
			margin-bottom: 16px;
			text-transform: uppercase;
			font-weight: 700;
			color: #EC5629;

      @include to(1025px) {
        margin-bottom: 12px;
      }

      @include to(770px) {
        margin-bottom: 8px;
      }

      @include to(480px) {
        margin-bottom: 0;
        padding-right: 48px;
      }
		}

		&__img {
			margin-bottom: 23px;
			position: relative;
			height: 358px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover {
				.team__info {
					transform: translateX(0);
				}
			}

      @include to(1025px) {
        height: 330px;
      }

      @include to(850px) {
        height: 250px;
      }

      @include to(770px) {
        height: 226px;
      }

      @include to(480px) {
        height: 300px;
        margin-bottom: 13px;
      }
		}

		&__info {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #333;
			padding: 20px;
			font-size: 15px;
			line-height: 1.5em;
			color: #fff;
			transform: translateX(-101%);
			transition: all .4s;

      @include to(480px) {
        margin-top: 16px;
        position: static;
        opacity: 1;
        transform: none;
        background-color: transparent;
        color: #808080;
        width: 98%;
        padding: 0;
      }

			&-wrap {
				height: 100%;
				padding-right: 18px;
				overflow-y: scroll;

				&::-webkit-scrollbar {
					width: 5px;
				}
	
				&::-webkit-scrollbar-track {
					width: 5px;
					border-radius: 999px;
					background-color: #454545;
				}
	
				&::-webkit-scrollbar-thumb {
					background-color: #c4c4c4;
					border-radius: 999px;
				}

        @include to(480px) {
          overflow: hidden;
          padding: 0;
        }
			}

			@include to(1440px) {
				font-size: 14px;
			}
		}

		&__socials {
			position: static;
			right: 0;
			top: 0;
			width: 55px;

			@include to(1370px) {
				width: 48px;
			}

      @include to(850px) {
        .socials__link {
          width: 30px;
          height: 30px;

          svg {
            width: 7px;
            height: 11px;
          }
        }
      }

      @include to(480px) {
        top: auto;
        bottom: 0;
        left: 78.9%;
        position: absolute;

        .socials__link {
          width: 48px;
          height: 48px;
          border-radius: 0px 4px 4px 0px;

          svg {
            width: 8px;
            height: 16px;
          }
        }
      }

      @include to(320px) {
        left: 74.9%;
      }
		}
	}

	.socials {
		&__link {
			background: #A7A8AC;
			backdrop-filter: blur(5px);
			border-radius: 0px 4px 4px 0px;

			&:hover {
				background-color: #EC5629 !important;
			}
		}
	}
}
