#id-page-team {
	.team {
		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
			column-gap: 82px;
			row-gap: 39px;
			margin-bottom: 50px;
			margin-right: 50px;

			@include to(1370px) {
				column-gap: 55px;
			}

      @include to(1025px) {
        margin-right: 0;
        column-gap: 47px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      }

      @include to(850px) {
        column-gap: 30px;
      }

      @include to(770px) {
        grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
      }
		}

		&__footer {
			display: grid;
			column-gap: 82px;
			grid-template-columns: repeat(auto-fit, minmax(310px, 375.33px));
			margin-bottom: 50px;

			@include to(1370px) {
				column-gap: 55px;
				grid-template-columns: repeat(auto-fit, minmax(310px, 322px));
			}

			@include to(1025px) {
				column-gap: 10px;
				grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
			}

			.choise-us__link {
				display: inline-flex;
			}
		}

		&__content {
			width: calc(100% - 55px);

			@include to(1370px) {
				width: calc(100% - 48px);
			}
		}

		&__item {
			position: relative;
			display: flex;
		}

		&__name {
			margin-bottom: 16px;
			text-transform: uppercase;
			font-weight: 700;
			color: #EC5629;

      @include to(1025px) {
        margin-bottom: 12px;
      }

      @include to(770px) {
        margin-bottom: 8px;
      }
		}

		&__img {
			margin-bottom: 23px;
			position: relative;
			height: 358px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover {
				.team__info {
					transform: translateX(0);
				}
			}

      @include to(1025px) {
        height: 330px;
      }

      @include to(850px) {
        height: 250px;
      }

      @include to(770px) {
        height: 226px;
      }
		}

		&__info {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #333;
			padding: 20px;
			font-size: 15px;
			line-height: 1.5em;
			color: #fff;
			transform: translateX(-101%);
			transition: all .4s;

			&-wrap {
				height: 100%;
				padding-right: 18px;
				overflow-y: scroll;

				&::-webkit-scrollbar {
					width: 5px;
				}
	
				&::-webkit-scrollbar-track {
					width: 5px;
					border-radius: 999px;
					background-color: #454545;
				}
	
				&::-webkit-scrollbar-thumb {
					background-color: #c4c4c4;
					border-radius: 999px;
				}
			}

			@include to(1440px) {
				font-size: 14px;
			}
		}

		&__socials {
			position: static;
			right: 0;
			top: 0;
			width: 55px;

			@include to(1370px) {
				width: 48px;
			}
		}
	}

	.socials {
		&__link {
			background: #A7A8AC;
			backdrop-filter: blur(5px);
			border-radius: 0px 4px 4px 0px;

			&:hover {
				background-color: #EC5629 !important;
			}
		}
	}
}
