.word{
	&__inner-page-title{
		margin-bottom: 35px;
		@include to(992px){
			margin-bottom: 32px;
		}
		@include to(640px){
			margin-bottom: 24px;
		}
	}

	&__tabs{
		.tabs__header{
			max-width: 1100px;
			margin-bottom: 60px;
			@include to(640px){
				margin-bottom: 28px;
			}
		}
	}

	&__left{
		@include col();
		@include size(3);
		@include shift-left(1);
		@include to(992px){
			@include size(4);
			@include shift-left(0);
		}
		@include to(640px){
			@include shift-left(1);
			@include size(10);
			@include shift-right(1);
			margin-bottom: 16px;
		}
	}
	&__right{
		@include col();
		@include size(8);
		padding-top: 10px;
		@include to(640px){
			@include size(12);
		}
	}

	&__quote{
		margin-bottom: 40px;
		@include to(640px){
			margin-bottom: 16px;
		}
	}

	&__subtitle{
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		line-height: 183%;
		font-weight: 600;
		margin-bottom: 10px;
		@include to(640px){
			margin-bottom: 16px;
		}
	}

	&__text{
		color: #808080;
		font-size: 16px;
		line-height: 1.5;
	}

	&__text + &__text{
		margin-top: 25px;
	}

	&__text-block{
		padding-left: 45px;
		@include to(992px){
			padding-left: 40px;
		}
		@include to(640px){
			padding-left: 0;
		}
	}

	&__content{
		padding-bottom: 80px;
		@include to(640px){
			padding-bottom: 10px;
		}
	}
}