/**********************************/
/*
* input start
*/
form {
  margin: 50px;
  padding-top: 150px;
  background-color: #8e8e8e;
  --input-padding: 30px;

}

.form-field:not(#t) {
  position: relative;
  margin: 10px 0 10px 0;
  border: 2px solid rgba(207, 190, 151, 1);
  transition: all 0.3s;

  // @include from(1025px) {
  //   &:hover {
  //     border: 2px solid rgba(255, 255, 255, 1);
  //   }

  // }
}

.input-message {
  position: absolute;
  top: 50%;
  left: var(--input-padding);
  z-index: 3;
  padding: 0 7px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  transform: translate(0%, -50%);
  user-select: none;
  pointer-events: none;
  background-color: #8e8e8e;
  transition: all 0.16s cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

/*  */
.form-field-input {
  display: flex;
  width: 296px;
  height: 50px;
}

.form-field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-indent: var(--input-padding);
  background-color: transparent;
  border: none
}


[data-field-input][data-status="field--inactive"]:not(#r) {
  border-color: $mc;

  .input-message {
    color: #6AB6B8;
  }
}

[data-field-input][data-status="field--active"]:not(#r) {
  border-color: $mc;

  .input-message {
    color: $mc;
  }
}

[data-field-input][data-status="field--error"]:not(#r) {
  border-color: rgb(232, 142, 142);

  .input-message {
    color: rgb(232, 142, 142);
  }
}

[data-field-input][data-status="field--success"]:not(#r) {
  border-color: #96C480;

  .input-message {
    color: #96C480;
  }
}

.selected:not(#f) .input-message {
  top: 0;
  font-size: 10px;
}

/*
* input end
*/
/**********************************/