footer.footer#footer
  button(type="button").btn-top.btn--res.js-btn-top
    +svg('rhombus').btn-top__rhombus
    span.btn-top__span
      +svg('icon-top').btn-top__icon
      span наверх
  .container
    .footer__left
      .footer__logo
        +img('logo-dark.svg')
      .socials
        a(href="#").socials__link
          +svg('fb')
        a(href="#").socials__link
          +svg('inst')
        a(href="#").socials__link
          +svg('link')
    .footer__right
      .footer__right-wrap
        .footer__item
          .footer__item-name Про компанію
          a(href="#").footer__item-link Про нас
          a(href="#").footer__item-link Команда
          a(href="#").footer__item-link Вакансії
          a(href="#").footer__item-link Відгуки
        .footer__item
          .footer__item-name Наші послуги
          a(href="#").footer__item-link Проектування будинку
          a(href="#").footer__item-link Будівництво під ключ
        .footer__item
          .footer__item-name Наші будинки
          a(href="#").footer__item-link Проекти будинків
          a(href="#").footer__item-link Побудовані будинки
        .footer__item
          .footer__item-name Фінансові умови
          a(href="#").footer__item-name Партнери
          a(href="#").footer__item-name Новини
      .footer__right-bottom
        p SOTA CONSTRUCTION, 2021
        p <a href="https://smarto.agency/">Developed by SMART ORANGE</a>
