header.header.header__top(class=class_page != "index-page" ? "header_dark" : "")
  .container
    .header__wrap
      .header__content
        a(href="./").header__logo
          +svg('logo1')
        .header__right
          a(href="tel:380673132938").header__phone.btn--animate +38067 313 29 38
        .language.header__language
          a(href="#").language__link.language__link--current UKR
            span /
          a(href="#").language__link RU
            span /
          a(href="#").language__link EN
          .language__list 
            .language__current 
            .language__list-dropdown 
        button(type="button").burger-btn.js-burger-btn.btn--res Меню
  nav.nav
    .nav__block
      button(type="button").nav__close.js-nav__close.btn--res ЗАКРИТИ
    .nav__list
      .nav__item
        .nav__item-number / 01
        .nav__content
          .nav__item-title ПРО КОМПАНІЮ
          a(href="./team.html").nav__item-link Наша команда
          a(href="./about.html").nav__item-link Про нас
          a(href="./vacancy.html").nav__item-link Вакансії
          a(href="./about-reviews.html").nav__item-link Відгуки про нас
      .nav__item
        .nav__item-number / 02
        .nav__content
          .nav__item-title НАШІ БУДИНКИ
          a(href="./projects.html").nav__item-link Проекти будинків
          a(href="./projects.html").nav__item-link Реалізовані проекти
      .nav__item
        .nav__item-number / 03
        .nav__content
          a(href="").nav__item-title ПОСЛУГИ
      .nav__item
        .nav__item-number / 04
        .nav__content
          a(href="").nav__item-title ФІНАНСОВІ УМОВИ
      .nav__item
        .nav__item-number / 05
        .nav__content
          a(href="./partners.html").nav__item-title НАШІ ПАРТНЕРИ
      .nav__item
        .nav__item-number / 06
        .nav__content
          a(href="./news.html").nav__item-title НОВИНИ
      .nav__item
        .nav__item-number / 07
        .nav__content
          a(href="./contacts.html").nav__item-title КОНТАКТИ

