header.header.header__top
  .container
    .header__wrap
      .header__content
        .header__logo
          +img('logo.svg')
        .header__right
          a(href="#").header__phone.btn--animate (044) 517 25 20
        .language.header__language
          a(href="#").language__link.language__link--current UKR
            span /
          a(href="#").language__link RU
            span /
          a(href="#").language__link EN
        button(type="button").burger-btn.js-burger-btn.btn--res Меню
  nav.nav
    .nav__block
      button(type="button").nav__close.js-nav__close.btn--res ЗАКРИТИ
    .nav__list
      .nav__item
        .nav__item-number / 01
        .nav__content
          .nav__item-title ПРО КОМПАНІЮ
          a(href="#").nav__item-link Наша команда
          a(href="#").nav__item-link Про нас
          a(href="#").nav__item-link Вакансії
          a(href="#").nav__item-link Відгуки про нас
      .nav__item
        .nav__item-number / 02
        .nav__content
          .nav__item-title НАШІ БУДИНКИ
          a(href="#").nav__item-link Проекти будинків
          a(href="#").nav__item-link Реалізовані проекти
      .nav__item
        .nav__item-number / 03
        .nav__content
          .nav__item-title ПОСЛУГИ
      .nav__item
        .nav__item-number / 04
        .nav__content
          .nav__item-title ФІНАНСОВІ УМОВИ
      .nav__item
        .nav__item-number / 05
        .nav__content
          .nav__item-title НАШІ ПАРТНЕРИ
      .nav__item
        .nav__item-number / 06
        .nav__content
          .nav__item-title НОВИНИ
      .nav__item
        .nav__item-number / 07
        .nav__content
          .nav__item-title КОНТАКТИ
