<div id="Preloader"><svg width="310px" height="280px" viewBox="0 0 310 280"><mask id="Mask_Mask_1"><g id="Preloader_mask"><path fill="#FFFFFF" stroke="none" d="M 292.5 61.55Q 282.8 37.65 244 21.6 205.1 5.6 151.8 5.6 119.35 5.6 89.35 13.7 59.25 21.8 39.7 40.3 20.1 58.75 20.1 88.15 20.1 113.4 34.65 129.6 36.2 131.3 37.85 132.95 51.8 146.8 73.3 154.85 97.4 163.95 131.7 170.3L 144.35 172.55Q 150.1 173.65 157.05 174.45 161.45 175.05 167.85 176.15 172.4 177 178.3 177.85 212.1 183.45 230.2 189.35 248.1 195.2 256.5 205.15 258.15 207.15 259.5 209.45 264.9 218.7 264.9 232.85 264.9 245.35 252.4 255.1 239.95 264.85 216.75 270.2 193.55 275.5 162.65 275.1 127.15 275.5 98.5 260.4 69.85 245.4 52 221.75 47.4 215.6 43.75 209.45 33.25 191.95 30.2 174.1 29.8 173.7 29.8 173.35L 29.8 172.55 28.3 172.55Q 7.05 192.25 5.7 209.45 5 217.9 9.1 225.7 21.6 249.4 64.5 263 107.5 276.6 162.65 276.6 197.5 276.6 229.8 268.3 262.2 260.05 283.95 240.8 292.3 233.35 297.4 224.3 301.3 217.35 303.35 209.45 305.55 200.85 305.55 191.05 305.55 171.8 297.4 158.15 294.55 153.3 290.65 149.2 281.75 139.8 269.25 132.95 260.7 128.35 250.55 124.9 225.35 116.4 186.15 110.05L 167.85 107Q 161.35 106.2 156.1 105.1 151.2 104.15 144.75 103.2 117.2 98.35 99.25 92.3 81.4 86.35 71.05 76.65 60.8 67.05 60.8 52.7 60.8 39.5 72.55 29 84.2 18.5 105 12.6 125.6 6.8 151.85 7.15 188.75 6.8 215.65 21.8 242.5 36.9 257.05 60.05 271.6 83.25 273.85 107.75L 275.35 107.75Q 302.15 85.5 292.5 61.55 Z"></path></g></mask><g mask="url(#Mask_Mask_1)"><g transform="translate(0, 285)" id="Preloader_waveContainer" style="transform: translate(0px, -30px);"><path class="Preloader_wave" fill="#0" d="M 630.2 21.15Q 606.65 24.7 579 24.7 551.35 24.7 526.15 20.3 511.3 17.65 486.2 10.9 465.6 5.35 454.95 3.35 437.3 0 420.05 0 400.2 0 379.85 3.95 367.25 6.75 354.5 11.8 341.7 16.8 317.75 20.75 316.45 20.95 315.1 21.15 291.55 24.7 263.9 24.7 236.25 24.7 211.05 20.3 196.2 17.65 171.1 10.9 150.5 5.35 139.85 3.35 122.2 0 104.95 0 85.1 0 64.75 3.95 52.15 6.75 39.4 11.8 26.6 16.8 2.65 20.75 1.35 20.95 0 21.15L 0 296.05 630.2 296.05 630.2 21.15 Z"></path></g></g><path id="Preloader_outline" stroke="#000000" stroke-width="0.25" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" fill="none" d="M 290.65 149.2Q 281.75 139.8 269.25 132.95 260.7 128.35 250.55 124.9 225.35 116.4 186.15 110.05L 167.85 107Q 161.35 106.2 156.1 105.1 151.2 104.15 144.75 103.2 117.2 98.35 99.25 92.3 81.4 86.35 71.05 76.65 60.8 67.05 60.8 52.7 60.8 39.5 72.55 29 84.2 18.5 105 12.6 125.6 6.8 151.85 7.15 188.75 6.8 215.65 21.8 242.5 36.9 257.05 60.05 271.6 83.25 273.85 107.75L 275.35 107.75Q 302.15 85.5 292.5 61.55 282.8 37.65 244 21.6 205.1 5.6 151.8 5.6 119.35 5.6 89.35 13.7 59.25 21.8 39.7 40.3 20.1 58.75 20.1 88.15 20.1 113.4 34.65 129.6 36.2 131.3 37.85 132.95 51.8 146.8 73.3 154.85 97.4 163.95 131.7 170.3L 144.35 172.55Q 150.1 173.65 157.05 174.45 161.45 175.05 167.85 176.15 172.4 177 178.3 177.85 212.1 183.45 230.2 189.35 248.1 195.2 256.5 205.15 258.15 207.15 259.5 209.45 264.9 218.7 264.9 232.85 264.9 245.35 252.4 255.1 239.95 264.85 216.75 270.2 193.55 275.5 162.65 275.1 127.15 275.5 98.5 260.4 69.85 245.4 52 221.75 47.4 215.6 43.75 209.45 33.25 191.95 30.2 174.1 29.8 173.7 29.8 173.35L 29.8 172.55 28.3 172.55Q 7.05 192.25 5.7 209.45 5 217.9 9.1 225.7 21.6 249.4 64.5 263 107.5 276.6 162.65 276.6 197.5 276.6 229.8 268.3 262.2 260.05 283.95 240.8 292.3 233.35 297.4 224.3 301.3 217.35 303.35 209.45 305.55 200.85 305.55 191.05 305.55 171.8 297.4 158.15 294.55 153.3 290.65 149.2 Z"></path></svg></div>
.overlay
  .popup-thank.js-popup.popup(data-popup="thank")
    .section-grid
    .section-grid
    .section-grid
    .section-grid
    .popup-thank__block
      button(type="button" data-popup-type="thank").popup-close.js-popup-close.nav__close.btn--res ЗАКРИТИ
    .popup-thank__title ДЯКУЄМО ЗА ВАШУ ЗАЯВКУ!
    .popup-thank__desc Наш менеджер зв’яжеться з вами, щойно її отримає!
  .popup-contacts.popup.js-popup(data-popup="contacts")
    .popup-contacts-close-block
      button(type="button" data-popup-type="contacts").popup-close.js-popup-close.nav__close.btn--res ЗАКРИТИ
    form.popup-contacts__form(data-form="contacts")
      .section-grid
      .section-grid
      .section-grid
      .section-grid
      .popup-contacts__title Ваші данні
      .popup-contacts__wrap
        .popup-contacts__item
          label.popup-contacts__item-label
            span Ім’я<sup>*</sup>
            input(type="text" data-required="true" name="name")
        .popup-contacts__item.popup-contacts__item--select
          p.js-popup-contacts__item-text.popup-contacts__item-label Відділ, який вас цікавить
          .popup-contacts__item-wrap.contacts-select
            .contacts-select__current(data-select-current="1")
              span Відділ закупівель
            .contacts-select__list(data-contacts-list="1")
              .contacts-select__item.contacts-select__item--selected Відділ закупівель
              .contacts-select__item Відділ закупівель 1
              .contacts-select__item Відділ закупівель 2
              .contacts-select__item Відділ закупівель 3
      .popup-contacts__wrap
        .popup-contacts__item
          label.popup-contacts__item-label
            span Телефон<sup>*</sup>
            input(type="tel" name="phone" placeholder="38(0__)___ __ __" data-required="true" data-phone-value="")
        .popup-contacts__item
          label.popup-contacts__item-label
            span E-mail<sup>*</sup>
            input(type="email" name="email" data-required="true")
      .popup-contacts__item.popup-contacts__item--w100
        label.popup-contacts__item-label
          span Ваше повідомлення
          textarea(name="message")
      .popup-contacts__item.popup-contacts__item--w100.popup-contacts__item--file
        .popup-contacts__item-wrap
          .popup-contacts__item-file(data-contacts-file="1")
            span Файл не вибрано
          label.popup-contacts__item-file-label.btn--with-icon ВИбрати
            span
            +svg('round')
            input(type="file" name="file" data-input-file="1" id="file")
      .popup-contacts__title Як краще з вами зв’язатися?
      .popup-contacts__item.popup-contacts__item--checkbox
        label.popup-contacts__item-label(id="byPhone") По телефону
          input(type="radio" name="contact" value="phone" for="byPhone" checked="checked")
          span
        label.popup-contacts__item-label(id="byEmail") Написати на E-mail
          input(type="radio" name="contact" value="email")
          span
      .popup-contacts__footer
        .popup-contacts__footer-wrap
          .popup-contacts__footer-text Ми не розповсюджуємо ваші персональні данні
          button(type="submit").popup-contacts__btn.btn.js-popup-contacts.btn--with-icon.btn--res Вітправити
            span
            +svg('round')
        .popup-contacts__item
          label.popup-contacts__item-label <sup>*</sup> обов’язкові для заповнення поля


.reviews-popup.js-reviews-popup
  .reviews-popup__inner
    button.reviews-popup__close-btn.js-reviews-popup-close ЗАКРИТИ
    button.reviews-pu-arrow.reviews-pu-arrow_prev.js-reviews-pu-arrow-prev
      +svg('slider-arrow')
    .reviews-popup-main-slider.js-reviews-popup-main-slider
      .reviews-popup-main-wrapper.swiper-wrapper
        .reviews-popup-main-slider__screen1.swiper-slide
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MDEJev6bLeM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .reviews-popup-main-slider__screen2.swiper-slide.pu-slider-s2
          .pu-slider-s2__inner 
            .pu-slider-s2__img-wrapper 
              +img('about-reviews/1.jpg')
            .pu-slider-s2__text 
              p 10 років досвіту в побудові-проектуванні 3D моделей будівель і споруд, ландшафту, з них 5 років - виконання екстер’єрних візуалізації. 10 років досвіту в побудові-проектуванні 3D моделей будівель і споруд, ландшафту, з них 5 років - виконання екстер’єрних візуалізації. 10 років досвіту в побудові-проектуванні 3D моделей будівель і споруд.
          
    button.reviews-pu-arrow.reviews-pu-arrow_next.js-reviews-pu-arrow-next
      +svg('slider-arrow')
