<div id="Preloader">
<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path stroke="#fff" stroke-width="0" d="M27.4393 27.693H0.118884V22.4707H22.1907V16.6745H0V0.436035H27.3229V5.65841H5.24857V11.4521H27.4393V27.693Z" fill="#000"/>
</svg>
<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path stroke="#fff" d="M18.9344 19.0666H0.0361328V0.295654H18.9344V19.0666ZM3.65239 15.4701H15.3233V3.89212H3.65239V15.4701Z" fill="#000"/>
</svg>
<div class="preloader__mask preloader__mask--1"></div>
<div class="preloader__mask preloader__mask--2"></div>
<div class="preloader__mask preloader__mask--3"></div>
<div class="preloader__mask preloader__mask--4"></div>
<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path stroke="#fff" d="M18.7776 0.295654H0.631836V3.89212H7.89745V19.0666H11.512V3.89212H18.7776V0.295654Z"fill="#000"/>
</svg>
<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path stroke="#fff" d="M19.3756 19.0666H0.475586V7.88203H15.7576V3.89559H0.562683V0.295654H19.3756V19.0666ZM4.09359 15.4701H15.7645V11.4837H4.09359V15.4701Z" fill="#000"/>
</svg>
</div>
.preloader-bg 
.bg-for-finish-animate
.overlay
  .popup-thank.js-popup.popup(data-popup="resume")
    .section-grid
    .section-grid
    .section-grid
    .section-grid
    .popup-thank__block
      button(type="button" data-popup-type="resume").popup-close.js-popup-close.nav__close.btn--res ЗАКРИТИ
    .popup-thank__title ДЯКУЄМО ЗА ВАШЕ РЕЗЮМЕ!!
    .popup-thank__desc Наш HR-менеджер зв’яжеться з вами найближчим часом.!
  .popup-thank.js-popup.popup(data-popup="thank")
    .section-grid
    .section-grid
    .section-grid
    .section-grid
    .popup-thank__block
      button(type="button" data-popup-type="thank").popup-close.js-popup-close.nav__close.btn--res ЗАКРИТИ
    .popup-thank__title ДЯКУЄМО ЗА ВАШУ ЗАЯВКУ!
    .popup-thank__desc Наш менеджер зв’яжеться з вами, щойно її отримає!
  .popup-contacts.popup.js-popup(data-popup="contacts")
    .popup-contacts-close-block
      button(type="button" data-popup-type="contacts").popup-close.js-popup-close.nav__close.btn--res ЗАКРИТИ
    form.popup-contacts__form(data-form="contacts" data-success-type="thank")
      .status-request Запрос в обработке...
      .section-grid
      .section-grid
      .section-grid
      .section-grid
      .popup-contacts__title Ваші данні
      .popup-contacts__wrap
        .popup-contacts__item
          label.popup-contacts__item-label
            span Ім’я<sup>*</sup>
            input(type="text" data-required="true" name="name")
        .popup-contacts__item.popup-contacts__item--select
          p.js-popup-contacts__item-text.popup-contacts__item-label Відділ, який вас цікавить
          .popup-contacts__item-wrap.contacts-select
            .contacts-select__current(data-select-current="1")
              span Відділ закупівель
            .contacts-select__list(data-contacts-list="1")
              .contacts-select__item.contacts-select__item--selected Відділ закупівель
              .contacts-select__item Відділ закупівель 1
              .contacts-select__item Відділ закупівель 2
              .contacts-select__item Відділ закупівель 3
      .popup-contacts__wrap
        .popup-contacts__item
          label.popup-contacts__item-label
            span Телефон<sup>*</sup>
            input(type="tel" name="phone" placeholder="38(0__)___ __ __" data-required="true" data-phone-value="")
        .popup-contacts__item
          label.popup-contacts__item-label
            span E-mail<sup>*</sup>
            input(type="email" name="email" data-required="true")
      .popup-contacts__item.popup-contacts__item--w100
        label.popup-contacts__item-label
          span Ваше повідомлення
          textarea(name="message")
      .popup-contacts__item.popup-contacts__item--w100.popup-contacts__item--file
        .popup-contacts__item-wrap
          .popup-contacts__item-file(data-contacts-file="1")
            span Файл не вибрано
          label.popup-contacts__item-file-label.btn--with-icon ВИбрати
            span
            +svg('round')
            input(type="file" name="file" data-input-file="1")
      .popup-contacts__title Як краще з вами зв’язатися?
      .popup-contacts__item.popup-contacts__item--checkbox
        label.popup-contacts__item-label(id="byPhone") По телефону
          input(type="radio" name="contact" value="phone" for="byPhone" checked="checked")
          span
        label.popup-contacts__item-label(id="byEmail") Написати на E-mail
          input(type="radio" name="contact" value="email")
          span
      .popup-contacts__footer
        .popup-contacts__footer-wrap
          .popup-contacts__footer-text Ми не розповсюджуємо ваші персональні данні
          button(type="submit").popup-contacts__btn.btn.js-popup-contacts.btn--with-icon.btn--res Відправити
            span
            +svg('round')
        .popup-contacts__item 
          label.popup-contacts__item-label <sup>*</sup> обов’язкові для заповнення поля
  .popup-project-form.popup.js-popup(data-popup="single-project")
    form.pu-form.popup-project-form__form(data-form="single-project" data-success-type="thank")
      .pu-form__inner
        button(type="button" data-popup-type="single-project").popup-close.js-popup-close.nav__close.btn--res.pu__close ЗАКРИТИ
        .pu-form__header.header-pu-form
          .header-pu-form__img-wrapper 
            +img('single-building/01.jpg').js-choise-img-form
          .header-pu-form__info-wrapper 
            h3.header-pu-form__title.title SOTA 001
            .header-pu-form__radio-wrapper 
              .radio-btn-wrapper.header-pu-form__radio-btn-wrapper
                input(type="radio" id="proj-sotaoptima" checked name="sotaseries" data-plan-name="sotaoptima" value="sotaoptima")
                label(for="proj-sotaoptima").radio-btn-wrapper__circle
                label(for="proj-sotaoptima").radio-btn-wrapper__text Sota Optima
              .radio-btn-wrapper.header-pu-form__radio-btn-wrapper
                input(type="radio" id="proj-sotaprime" name="sotaseries" data-plan-name="sotaprime" value="sotaprime")
                label(for="proj-sotaprime").radio-btn-wrapper__circle
                label(for="proj-sotaprime").radio-btn-wrapper__text Sota Prime
            .header-pu-form__input-group.form-input-group
              label(for="proj-data").form-input-group__label Додаткова інформація, яку потрібно враховувати:
              textarea(id="proj-data").form-input-group__input.form-input-group__input_textarea
            .header-pu-form__input-group.form-input-group.form-input-group_upload
              .form-input-group__upload-text-wrapper(data-contacts-file="1")
                span Файл не вибрано
              label.form-input-group__upload-btn.btn--with-icon ВИбрати
                span
                +svg('round')
                input(type="file" name="file" data-input-file="1")
        .pu-form__data.data-pu-form
          h4.data-pu-form__subtitle Данні для договору 
          .data-pu-form__row
            .data-pu-form__form-input-group.data-pu-form__form-input-group_three.form-input-group
              label(for="proj-lastname").form-input-group__label Прізвище <sup>*</sup>
              input(type="text" name="lastname" id="proj-lastname" data-required="true").form-input-group__input
            .data-pu-form__form-input-group.data-pu-form__form-input-group_three.form-input-group
              label(for="proj-name").form-input-group__label Ім’я <sup>*</sup>
              input(type="text" name="name" id="proj-name" data-required="true").form-input-group__input
            .data-pu-form__form-input-group.data-pu-form__form-input-group_three.form-input-group
              label(for="proj-middlename").form-input-group__label Побатькові <sup>*</sup>
              input(type="text" name="middlaname" id="proj-middlename" data-required="true").form-input-group__input
          .data-pu-form__row
            .data-pu-form__form-input-group.data-pu-form__form-input-group_three.form-input-group
              label(for="proj-passport").form-input-group__label Серія і номер паспорту
              input(type="text" name="passport" id="proj-passport").form-input-group__input
            .data-pu-form__form-input-group.data-pu-form__form-input-group_two.form-input-group
              label(for="proj-issued").form-input-group__label Ким і коли виданий
              input(type="text" name="issued" id="proj-issued").form-input-group__input
          .data-pu-form__row
            .data-pu-form__form-input-group.data-pu-form__form-input-group_full.form-input-group
              label(for="proj-companydata").form-input-group__label Назва і реквізити компанії (для юридичних осіб)
              textarea(name="companydata" id="proj-companydata").form-input-group__input.form-input-group__input_textarea
          .data-pu-form__row
            .data-pu-form__form-input-group.data-pu-form__form-input-group_two.form-input-group
              label(for="proj-city").form-input-group__label Населений пункт
              input(type="text" name="city" id="proj-city").form-input-group__input
          .data-pu-form__row
            .data-pu-form__form-input-group.data-pu-form__form-input-group_phone.form-input-group
              label(for="proj-phone").form-input-group__label Телефон <sup>*</sup>
              input(type="text" name="phone" id="proj-phone" data-required="true").form-input-group__input
            .data-pu-form__form-input-group.data-pu-form__form-input-group_email.form-input-group
              label(for="proj-email").form-input-group__label E-mail <sup>*</sup>
              input(type="text" name="email" id="proj-email" data-required="true").form-input-group__input
        .pu-form__data.data-pu-form
          h4.data-pu-form__subtitle.data-pu-form__subtitle_m40 Адреса Відправки
          .data-pu-form__row
            .radio-btn-wrapper.header-pu-form__radio-btn-wrapper
              input(type="radio" id="proj-mailto-mail" checked name="mailto" value="mail")
              label(for="proj-mailto-mail").radio-btn-wrapper__circle
              label(for="proj-mailto-mail").radio-btn-wrapper__text Відіслати на вказану адресу
            .radio-btn-wrapper.header-pu-form__radio-btn-wrapper
              input(type="radio" id="proj-mailto-office" name="mailto" value="office")
              label(for="proj-mailto-office").radio-btn-wrapper__circle
              label(for="proj-mailto-office").radio-btn-wrapper__text Отримати в офісі SOTA
          .data-pu-form__row
            .data-pu-form__form-input-group.data-pu-form__form-input-group_full.form-input-group
              label(for="proj-address").form-input-group__label Адреса відправки
              textarea(name="address" id="proj-address").form-input-group__input.form-input-group__input_textarea
          .data-pu-form__row
            span.data-pu-form__subtitle.data-pu-form__subtitle_price Ціна проекту
            span.data-pu-form__price.js-current-project-value 32 500 грн.
          .data-pu-form__row
            .data-pu-form__warning-text 
              p Ми не розповсюджуємо ваші персональні данні
              p <span>*</span> обов’язкові для заповнення поля
            button(type="submit").data-pu-form__btn.btn.js-popup-projects.submit__btn.btn--with-icon.btn--res Вітправити
              span
              +svg('round')


.reviews-popup.js-reviews-popup
  .reviews-popup__inner
    button.reviews-popup__close-btn.js-reviews-popup-close ЗАКРИТИ
    button.reviews-pu-arrow.reviews-pu-arrow_prev.js-reviews-pu-arrow-prev
      +svg('slider-arrow')
    .reviews-popup-main-slider.js-reviews-popup-main-slider
      .reviews-popup-main-wrapper.swiper-wrapper
        .reviews-popup-main-slider__screen1.swiper-slide
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MDEJev6bLeM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .reviews-popup-main-slider__screen2.swiper-slide.pu-slider-s2
          .pu-slider-s2__inner 
            .pu-slider-s2__img-wrapper 
              +img('about-reviews/1.jpg')
            .pu-slider-s2__text 
              p 10 років досвіту в побудові-проектуванні 3D моделей будівель і споруд, ландшафту, з них 5 років - виконання екстер’єрних візуалізації. 10 років досвіту в побудові-проектуванні 3D моделей будівель і споруд, ландшафту, з них 5 років - виконання екстер’єрних візуалізації. 10 років досвіту в побудові-проектуванні 3D моделей будівель і споруд.
          
    button.reviews-pu-arrow.reviews-pu-arrow_next.js-reviews-pu-arrow-next
      +svg('slider-arrow')
.reviews-popup.js-construction-popup
  .reviews-popup__inner
    button.reviews-popup__close-btn.js-construction-popup-close ЗАКРИТИ
    button.reviews-pu-arrow.reviews-pu-arrow_prev.js-reviews-pu-arrow-prev
      +svg('slider-arrow')
    .reviews-popup-main-slider.js-construction-popup-main-slider
      .swiper-wrapper
        
          
    button.reviews-pu-arrow.reviews-pu-arrow_next.js-reviews-pu-arrow-next
      +svg('slider-arrow')
