
extends ../layout/main
block variable
  -
    var title_page = 'about'
    var id_page = 'id-page-about'
    var class_page = 'class-page-about'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/about.js')
block content
  .about.inner-page
    .container
      h1.inner-page-title.about__inner-page-title Про компанію
    .tabs.about__tabs
      .tabs__header.header-tabs
        .header-tabs__single-tab-title.single-tab-title.active
          span Про нас
        .header-tabs__single-tab-title.single-tab-title
          span Команда
        .header-tabs__single-tab-title.single-tab-title
          span Вакансії
        .header-tabs__single-tab-title.single-tab-title
          span Відгуки
      .tabs__content.content-tabs
        .content-tabs__single-tab.about-us-tab  
          .about-us-tab__sec1.sec1-about
            .container
              .sec1-about__inner
                .sec1-about__left 
                  .sec1-about__descr-wrapper
                    p.sec1-about__descr.descr-about
                      span.descr-about__bold Сота 
                      span - це з'єднання ідеальної форми і абсолютної функціональності.
                .sec1-about__right
                  .sec1-about__about.about-about
                    p 
                      span.about-about__bold Sota Construction 
                      span - молода технологічна компанія, яка займається будівництвом сучасних, естетичних і функціональних будинків. Ми створюємо заміські будинки, які служать продовженням особистості людини. 
                    p Наші будинки пройняті ідеєю природної гармонії і ергономіки.
                  .sec1-about__quote.quote-about
                    p.quote-about__text.quote-about__text_orange Місія:
                    p.quote-about__text будувати так, щоб клієнтам хотілось запросити нас до себе на новосілля.

                    
                  a(href="#").btn--with-icon.sec1-about__link Обрати проект
                    span
                    +svg('round')
          .about-us-tab__sec2.sec2-about
            .container
              .sec2-about__inner
                p.sec2-about__subtitle.about-subtitle
                  span.about-subtitle__line
                  span.about-subtitle__text цінність - це ти
                h3.sec2-about__title.title Наші цінності
                .values-text-block.sec2-about__values-text-block.sec2-about__values-text-block_1
                  .values-text-block__title-wrapper
                    h4.values-text-block__title ЕСТЕТИКА  
                  .values-text-block__text-wrapper
                    p.values-text-block__text Хороший смак не купиш - він безцінний 
                    p.values-text-block__text Ми прагнемо якомога краще зрозуміти ваші естетичні цінності, щоб запропонувати оптимальне рішення
                    p.values-text-block__text Продумана гармонійна естетика НЕ застаріває з роками
                .values-text-block.sec2-about__values-text-block.sec2-about__values-text-block_2
                  .values-text-block__title-wrapper
                    h4.values-text-block__title ЕРгономіка  
                  .values-text-block__text-wrapper
                    p.values-text-block__text У своїй роботі ми сфокусовані на людині, на родині
                    p.values-text-block__text Будинок повинен бути зручний для декількох поколінь сім'ї, для їх гостей, для домашніх тварин
                    p.values-text-block__text Незначних дрібниць не буває, все важливо, все враховується 
                .sec2-about__images 
                  .sec2-about__img1
                    +img('about/2.jpg')
                  .sec2-about__img2
                    +img('about/3.jpg')
            .sec2-about__bottom
              .sec2-about__img4
                +img('about/5.jpg')
              .sec2-about__bottom-images
                .sec2-about__img3
                  +img('about/4.jpg')
                
              .sec2-about__bottom-content
                .container
                  .sec2-about__inner.sec2-about__inner_bottom
                    .values-text-block.sec2-about__values-text-block.sec2-about__values-text-block_3
                      .values-text-block__title-wrapper.values-text-block__title-wrapper_wide
                        h4.values-text-block__title ФУНКЦІОНАЛЬНІСТЬ
                      .values-text-block__text-wrapper
                        p.values-text-block__text Ми не прагнемо нав'язати вам будинок побільше - він повинен бути сумірний вашим потребам, вашому стилю життя
                        p.values-text-block__text Кожен квадратний метр повинен працювати на вас, повинен приносити щастя
                    .values-text-block.sec2-about__values-text-block.sec2-about__values-text-block_4
                      .values-text-block__title-wrapper.values-text-block__title-wrapper_wide
                        h4.values-text-block__title Персоналізація
                      .values-text-block__text-wrapper
                        p.values-text-block__text Робочий процес починається з максимального занурення в ваш світ, ваші потреби, ваші прагнення
                        p.values-text-block__text Ми пропонуємо готові рішення, які вдумливо адаптуємо під ваші потрібні
                    .values-text-block.sec2-about__values-text-block.sec2-about__values-text-block_5
                      .values-text-block__title-wrapper.values-text-block__title-wrapper_wide
                        h4.values-text-block__title Технологічність
                      .values-text-block__text-wrapper
                        p.values-text-block__text Максимальна діджіталізація процесів
                        p.values-text-block__text Інноваційні рішення будівництва
                        a(href="#").btn--with-icon.sec2-about__link Обрати проект
                          span
                          +svg('round')
          .about-us-tab__sec3.sec3-about
            .container 
              .sec3-about__inner
                .sec3-about__row.sec3-about__row_1 
                  .sec3-about__col.sec3-about__col_1
                  .sec3-about__col.sec3-about__col_2
                    h3.sec3-about__title.title Нас обирають тому що:
                .sec3-about__row.sec3-about__row_2
                  .sec3-about__col.sec3-about__col_3
                    ol.sec3-about__list
                      li.sec3-about__item Будуємо сучасні грамотно сплановані функціональні будинки, в яких зручно жити і відпочивати 
                      li.sec3-about__item Прозора система будівництва вашого будинка
                      li.sec3-about__item.sec3-about__item_wide Адекватна ціна та гнучкі умови фінансування
                      li.sec3-about__item.sec3-about__item_wide Сучасна архітектура та 4 стилів будівництва: Barnhouse, Hi-tech, Європейський, Скандинавський
                      li.sec3-about__item.sec3-about__item_wide Сервіс 360 - від підбору землі, до будівництва, ремонту, ландшафту та введення в експлуатацію вашого будинка! 
                  .sec3-about__col.sec3-about__col_4
                    ol.sec3-about__list
                      li.sec3-about__item Розгалужена система надійних партнерів
                      li.sec3-about__item Гарантія - 5 років
                      li.sec3-about__item Кваліфікований, сертифікований персонал, який нон-стоп навчається та відслідковує останні тренда будівництва
                    +img('about/6.jpg').sec3-about__img1
                .sec3-about__row 
                  .sec3-about__col.sec3-about__col_5
                    +img('about/7.jpg').sec3-about__img2
                  .sec3-about__col.sec3-about__col_6
                    ol.sec3-about__list
                      li.sec3-about__item Технологія BIM проектування вашого будинку
                      li.sec3-about__item Персональний кабінет споживача, в якому зібрана вся документація і матеріали по будівництву, договір
                      li.sec3-about__item Зворотній зв'язок 24/7 і встановлені камери на будівництві та фото ходу будівництва (віднині ви не будете почуватися самотьно і покинуто після того6 як внесли гроші за будинок)
                      li.sec3-about__item Охайне будівництво на усіх етапах із акуратними будівельниками
                    a(href="#").btn--with-icon.sec3-about__link Обрати проект
                      span
                      +svg('round')

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
