
extends ../layout/main
block variable
  -
    var title_page = 'financial'
    var id_page = 'id-page-financial'
    var class_page = 'class-page-financial'
    var breadcrumbsSubitem = [
      {
        label: 'financial-news',
        link: pagesLink[0].financial
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/financial.js')
block content
  .financial.inner-page
    .container
      h1.inner-page-title.about__inner-page-title Фінансові умови
    .financial__intro 
      .financial__intro-left
        +img('./financial/financial-img.jpg')
      .financial__intro-right 
        +img('./financial/financial-img2.png')
        .financial__intro-right-wrap
          .financial__intro-title Умови фінансування процесу будівництва будинку 
        .financial__intro-right-block
          .financial__intro-desc Фінансування процесу будівництва прив'язане безпосередньо до етапів виконання робіт. В договорі на будівництво зазначено графік фінансування будівельного процесу за наступною схемою:
    .container
      .financial__step
        .financial__step-item 
          +svg('rhombus-small')
          .financial__step-item-content 
            .financial__step-item-top
              b.number / 01
              .financial__step-item-top-content
                b.text Етап
                .financial__step-item-desc Одразу після підписання договору ви сплачуєте 40% від усієї вартості будівельних послуг, зазначених в договорі, на виконання робіт з влаштування фундаменту та на закупівлю матеріалів для зведення каркасу будинку 
        .financial__step-item.financial__step-item--right
          +svg('rhombus-small')
          .financial__step-item-content 
            .financial__step-item-top
              b.number / 02
              .financial__step-item-top-content
                b.text Етап
                .financial__step-item-desc Після перевірки та прийняття робіт з першого етапу та підписання відповідного акту, ви здійснюєте сплату наступних 30 % від вартості послуг згідно договору на виконання робіт зі зведення каркасу та на закупівлю матеріалів для влаштування покрівлі. 
        .financial__step-item
          +svg('rhombus-small')
          .financial__step-item-content 
            .financial__step-item-top
              b.number / 03
              .financial__step-item-top-content
                b.text Етап
                .financial__step-item-desc Наступні 20 % ви вносите після перевірки якості та прийняття робіт з влаштування каркасу та покрівлі перед  виконанням оздоблювальних робіт. Після сплати, ми здійснюємо закупівлю матеріалів та організовуємо роботи з оздоблення фасаду та встановлення вікон та дверей, влаштування водовідвідної системи
        .financial__step-item.financial__step-item--right
          +svg('rhombus-small')
          .financial__step-item-content 
            .financial__step-item-top
              b.number / 04
              .financial__step-item-top-content
                b.text Етап
                .financial__step-item-desc Залишок в розмірі 10 % ви сплачуєте тільки після підписання акту приймання-передачі робіт з будівництва всього будинку. 
    .financial__info 
      .financial__info-left
        .financial__info-left-wrap
          .container 
            .financial__info-text Однак варто зазначити, що дана схема фінансування може бути зміненою в залежності від індивідуального проєкту та специфікі етапів будівництва конткретно вашого будинку. 
        .container
          .financial__info-left-block
            a(href="#").choise-us__link.btn--with-icon.vacancy__progress-link.js-loading__more Обрати проєкт
              span
              +svg('round')
      .financial__info-right
        +img('./financial/financial-img3.png')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
