
extends ../layout/main
block variable
  -
    var title_page = 'projects'
    var id_page = 'id-page-projects'
    var class_page = 'class-page-single-projects'
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/projects.js')
block content
    .projects.inner-page
        .container
            h1.inner-page-title.about__inner-page-title Наші будинки
    .tabs.about__tabs
      .tabs__header.header-tabs
        .header-tabs__single-tab-title.single-tab-title.active(data-choise="1")
          span З чого почати
        .header-tabs__single-tab-title.single-tab-title(data-choise="2" data-tab-filter="project")
          span Проєкти будинків
        .header-tabs__single-tab-title.single-tab-title.disabled(data-choise="2" data-tab-filter="complete")
          span Проєкти в реалізації
      .tabs__content.content-tabs
        .content-tabs__single-tab.about-us-tab  
          .projects-tab__sec1.sec1-projects
            .projects-start(data-content-choise="1")
                .projects-start__top(data-section="first") 
                    .projects-start__top-left
                        .projects-start__top-left-bottom
                            .projects-start__top-img
                                +img('./projects/start/project-start-img.png')
                            .projects-start__top-text.small-title-with-decor MODERN HOUSE
                            .projects-start__top-img-bottom 
                                +img('./projects/start/project-start-img2.png')
                    .projects-start__top-right 
                        .projects-start__top-content
                            .projects-start__top-title Як побудувати функціональний будинок?
                            .projects-start__top-desc.projects-start__top-desc--custom Зміни в світі пов’язані з пандемією сильно актуалізували потребу власного функціонального простору, і питання будівництва заміського будинку перейшло з розряду “мрій” в питання безпосередньо потреби, для нормальної якості життя. 
                            .projects-start__top-desc Стало абсолютно зрозумілим, що життя, коли всі мої рідні поруч, коли ми ближче до природи, коли я можу насолоджуватися ароматною кавою на власній терасі, коли можу працювати з дому в своєму власному кабінеті, а наші діти в цей час на онлайн-уроках в дитячій кімнаті на 2-у поверсі, це тепер з розряду необхідності, а не просто бажання. 
                            .projects-start__top-desc Поділюся з вами власним досвідом та рекомендаціями, на що варто звернути увагу, і що врахувати, якщо ви націлені побудувати власний заміський будинок.
                .projects-start__item.projects-start__item--1(data-section="second") 
                    .projects-start__item-left 
                        .projects-start__item-left-content
                            .projects-start__item-wrap
                                .projects-start__item-number / 02
                                .projects-start__item-title Вибір будівельної компанії
                            .projects-start__item-desc Для того, щоб зрозуміти свою власну готовність, звичайно я розпочав з відповіді на запитання - чого хочеться? Яку внутрішню потребу я бажаю закрити? Що для мене є критично важливим? 
                    .projects-start__item-right
                        .projects-start__item-right-content
                            .projects-start__item-wrap
                                .projects-start__item-number / 01
                                .projects-start__item-title Підрахунок бюджету
                            .projects-start__item-desc Для того, щоб зрозуміти свою власну готовність, звичайно я розпочав з відповіді на запитання - чого хочеться? Яку внутрішню потребу я бажаю закрити? Що для мене є критично важливим? 
                            .projects-start__item-desc При зануренні в питання стало очевидним, що на починати потрібно  з фінансового планування, адже на  бюджету вартості будівництва власного будинку впливають дуже багато факторів, котрі краще врахувати заздалегідь - це і локація ділянки, і її якість (рельєф, грунти), поверховість будинку, кількість внутрішніх перегородок, якість та технологічність матеріалів, особливо кількість та якість вікон, характеристики зовнішнього оздоблення, наявність тераси, додаткових технічних приміщень (кладової, гаражу), якість інженерних мереж та технічних рішень, етапність виконання робіт  і фінансування. Це те, що може,  значно вплинути на вартість будівництва, тому важливо відразу визначитися з власним бюджетом.  
                .projects-start__item.projects-start__item--2(data-section="three") 
                    .projects-start__item-left 
                        .projects-start__item-left-content
                            .projects-start__item-wrap
                                .projects-start__item-number / 03
                                .projects-start__item-title Вибір ділянки
                            .projects-start__item-desc Перше з чим я зіштовхнувся при вибору ділянки, це те, що запропонованих варіантів багато, а ось тих, котрі б відповідали моїм вимогам ще потрібно пошукати. Тому краще заздалегідь описати критерії, що для мене буде важливим в прийняті рішення про ділянку та залучити спеціалістів будівельної, котрі можуть відразу підібрати для мене варіанти, і я не витрачатиму свій час на кошти на марні виїзди. 
                            .projects-start__item-small-title Для мене такими критеріями стали наступні:
                            .projects-start__item-text - щоб земельна ділянка була в селищі чи котеджному містечку
                            .projects-start__item-text - відстань від міста 
                            .projects-start__item-text - розміри, форма, орієнтація, розташування, рельєф ділянки
                            .projects-start__item-text - цільове призначення 
                            .projects-start__item-text - юридична складова 
                            .projects-start__item-text - інфраструктура 
                            .projects-start__item-text - комунікації 
                            .projects-start__item-text - природа
                            .projects-start__item-text - соціальне середовище, де хотілося б жити чи проводити час
                    .projects-start__item-right
                        +img('./projects/start/project-start-img3.png')
                .projects-start__item.projects-start__item--3(data-section="four")
                    .container 
                        .projects__item-content 
                            .projects__item-content-wrap 
                                .projects-start__item-wrap
                                    .projects-start__item-number / 04
                                    .projects-start__item-title Геологія та геодезія
                                .projects-start__item-desc Після підписання договору купівлі земельної ділянки, ми перейшли до наступного етапу - геологічних та геодезичних вишукувань.
                                .projects-start__item-text <b>Геологія.</b> Це один із перших важливих моментів, котрі треба врахувати, адже на будівництво будинку величезне значення сама якість ділянки, а саме, коли спеціалісти будівельної компанії досліджують наземну та підземну поверхню ділянки, щоб зробити аналіз грунтів і порід і правильно  правильно спроектувати фундамент будівлі. 
                                .projects-start__item-text <b>Геодезія</b> потрібна, щоб правильно спроектувати комунікації, облаштувати ділянку. Для цього використовують в основному топографічну зйомку території, що дає можливість підготувати топографічний план. Саме знімальний процес дає можливість отримати найбільш повні дані щодо досліджуваної території.
                                .projects-start__item-text Грамотно професійно проведене дослідження з геології та геодезії дають можливість прив'язати зовнішні комунікації до будинку та спланувати розміщення будинку на ділянці, зекономити кошти та отримати довговічну та якісну будівельну конструкцію 
                .projects-start__item.projects-start__item--4(data-section="five") 
                    .projects-start__item-left 
                        +img('./projects/start/project-start-img4.png')
                    .projets-start__item-right 
                        .projects-start__item--right-content 
                            .projects-start__item-wrap
                                .projects-start__item-number / 05
                                .projects-start__item-title Індивідуальне проектування
                            .projects-start__text Це найбільш цікавий етап в будівництві власного будинку, котрий вимагає  повного залучення вас в процес. Саме тут ми починаємо створювати чудо - ідеальне планування з величезною кухнею-вітальнею, з просторими спальнями та дитячою, затишним і невеликим кабінетом, з високими стелями та широкими вікнами. 
                            .projects-start__text В проектуванні також є свої стадії, котрі потрібно пройти. Робота над проектом починається з підготовки <b>ескізного проекту</b>, коли ви разом з архітектором працюєте над плануванням, над тим як буде виглядати ваш будинок зовні (екстер'єр), із чого він буде побудований, чим буде наповнений.
                            .projects-start__text Після цього, можна переходити до <b>проектування інженерних мереж</b>  та комунікацій (води, електрики, опалення).
                            .projects-start__text Завершальним етапом  в проектуванні безпосередньо будинку є підготовка <b>конструктивного розділу проекту</b>, коли інженер-конструктор будівельної компанії готує креслення з розрахунками навантажень, складових,  кріплень.
                            .projects-start__text Саме опрацювання проекту будинку через 3 стадії дає можливість чітко придати форму вашому будинку, оптимізувати вартість будівництва та пов'язати ввесь подальший процес  в одну систему, коли кожен із учасників при реалізації проекту має чітке технічне  завдання, що дає можливість уникнути цілого ряду помилок та відповідно додаткових фінансових витрат.
                .projects-start__item.projects-start__item--5
                    .container 
                        .projects-start__item--right-content 
                            .projects-start__item-wrap
                                .projects-start__item-number / 06
                                .projects-start__item-title Документарний супровід
                            .projects-start__text Коли ви розпочинаєте будівництво власного будинку, ви не можете уникнути частини пов'язаної з документальним супроводом. Є цілий перелік документів та дозволів, без яких не можна розпочати будівництво, підключитися до інженерних мереж та ввести в експлуатацію, як, наприклад, отримання будівельного паспорту, дозволу на будівництво, технічних умов на підключення електроенергії, газу та інших. Все це вимагає значної кількості уваги, часу та зусиль. Тому, краще доручити ці питання представникам будівельної компанії, котрі неодноразово проходити дані процедури та вже мають досвід документального супроводу. 
                .projects-start__item.projects-start__item--6(data-section="six") 
                    +img('./projects/start/project-start-img5.png')
                    .container 
                        .projects-start__content
                            .projects-start__item-wrap
                                .projects-start__item-number / 07
                                .projects-start__item-title Будівництво
                            .projects-start__text Процес будівництва також можна розділити на 3 етапи:
                            .projects-start__text <b>Влаштування фундаменту</b>, коли спеціалізованою будівельною бригадою ведуться підготовчі роботи на ділянці, вирівнювання грунту, виготовлення та монтажу опалубки, нарізання та в’язка арматури, розведення інженерних мереж у фундаменті та укладання бетону. 
                            .projects-start__text <b>Зведення каркасу будівлі</b>. Ведуться роботи з кладки матеріалу  стін, перегородок, улаштування монолітного поясу та перемичок, влаштування круглопустотних плит перекриття, монтаж кроквяної системи із покрівельним матеріалом
                            .projects-start__text <b>Оздоблювальні роботи</b> - це етап, котрий включає в себе монтаж вікон та дверей; зовнішнє оздоблення фасаду; підшивка звисів покрівлі, водостічна система; внутрішнє оздоблення; розведення каналізації, води, опалення, електрики (сигналізації, wi-fi); штукатурення стін чи проведення гіпсокартонних робіт.
                            .projects-start__text На 3-му етапі будівництва ви можете  приступати до пропрацювання дизайн-проекту, і почати виконання ремонтних робіт, влаштування зовнішніх комунікацій, ландшафтного оформлення ділянки, зведення огорожі, підключення відеоспостереження, охоронної сигналізації.
                            .projects-start__text Найкращий варіант, коли будівельна компанії бере на себе зобов'язання організувати всі роботи під ключ власними силами та через залучення вузькоспеціалізованих компаній-партнерів, з якими вже є досвід взаємодії та злагодженої роботи. Саме такий підхід забезпечує правильну комунікацію в процесі будівництва і дає можливість побудувати будинок з мінімальними ризиками та непередбачуваними фінансовими витратами і сам процес принесе вам задоволення. 
                        .projects-start__block 
                            a(href="#").choise-us__link.btn--with-icon.js-loading__more Обрати проєкт
                                span
                                +svg('round')
            .container
                div(data-content-choise="2")
                    .projects__list(data-content-choise="2") 
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img.jpg')
                                .projects__square 201.19 м<sup>2</sup>
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 001
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 26 700 грн. 
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 156 500 у.е. 
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img2.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 002
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 25 800 грн. 
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 146 000 у.е. 
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img3.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 003
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 25 650 грн. 
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 117 000 у.е. 
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img4.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 004
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 25 500 грн. 
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 99 000 у.е. 
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img5.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 005
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 19 500 грн. 
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 147 000 у.е.
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img6.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 006
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 25 050 грн. 
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 113 000 у.е. 
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img7.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 007
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 24 300 грн.
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 171 000 у.е. 
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img8.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 008
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 32 500 грн.
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 120 000 у.е.
                        .projects__item(data-step-type="project") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 009
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 32 500 грн.
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 120 000 у.е. 
                        .projects__item(data-filter="complete") 
                            .projects__img 
                                .project__img--hover 
                                    a(href="#").choise-us__link.btn--with-icon.choise-us__link.btn--with-icon-white Відкрити
                                        span
                                        +svg('round')
                                +img('./projects/projects-img2.jpg')
                                .projects__square 201.19 м2
                            .projects__content 
                                span.border-decor-top 
                                span.border-decor-right
                                .projects__name Sota 001
                                .projects__info 
                                    .projects__info-item
                                        .projects__info-title Габарити
                                        .projects__info-desc 10.06 х 19.20 м 
                                    .projects__info-item
                                        .projects__info-title Ціна проекту
                                        .projects__info-desc 32 500 грн.
                                    .projects__info-item
                                        .projects__info-title Побудувати будинок
                                        .projects__info-desc 120 000 у.е. 
                    .vacancy__progress 
                        .vacancy__progress-content
                            .vacancy__progress-top 
                                .vacancy__progress-top__text Показано 
                                .vacancy__progress-top__content 
                                    span.current.js-progress-current 06/
                                    span.total.js-progress-total 12 
                            .vacancy__progress-bottom 
                                .vacancy__progress-bottom__fill(data-progress="0")
                            .vacancy__block
                                a(href="#").choise-us__link.btn--with-icon.projects__progress-link.js-loading__more Дивитись ще
                                    span
                                    +svg('round')
                            
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug