
extends ../layout/main
block variable
  -
    var title_page = 'Services'
    var id_page = 'id-page-services'
    var class_page = 'class-page-services'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'Services',
        link: pagesLink[0].services
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4EBsCfQfnwCFGD_o8iLWwH97tmNCU-6E&amp;ver=1613742125#038;sensor=false&amp;ver=1.33"></script>
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/services.js')
block content
    .services.inner-page
        .container
            h1.inner-page-title.services__inner-page-title Наші послуги
        .services-us-tab__sec1
            .services__hero 
                .services__hero-left
                    .bg
                    +img('./services/services-img.png')
                .services__hero-right 
                    .services__hero-wrap
                        .services__hero-small-title.small-title-with-decor Комплексний підхід
                        .services__hero-title.title ПОСЛУГИ З ПРОЄКТУВАННЯ та будівництва будинків 
                        p.services__hero-desc Ми пропонуємо максимально повний комплекс послуг з ппроєктування та будівництва заміських будинків під ключ та гарантуємо якість виконаних робіт.
                        p.services__hero-desc Позбавте себе від клопоту звернення до різних виконавців, що в підсумку призводить до додаткових витрат, втрати часу та нервів.
                        a(href="#").choise-us__link.btn--with-icon Всі наші проєкти
                            span
                            +svg('round')
            .services__tabs.tabs
                .tabs__header.header-tabs.container
                    a(href="#tab1").header-tabs__single-tab-title.single-tab-title.active.js-serv-tab-btn
                        span Підготовчі послуги
                    a(href="#tab2").header-tabs__single-tab-title.single-tab-title.js-serv-tab-btn
                        span ПОСЛУГИ З ПРОЄКТУВАННЯ 
                    a(href="#tab3").header-tabs__single-tab-title.single-tab-title.js-serv-tab-btn
                        span ПОСЛУГИ З Будівництва
                    a(href="#tab4").header-tabs__single-tab-title.single-tab-title.js-serv-tab-btn
                        span ПОСЛУГИ ПІСЛЯ ЗДАЧІ ОБ'ЄКТУ 
                .tabs__body.body-tabs.js-serv-content
                    .body-tabs__tab.active.js-serv-single-tab(data-tab="#tab1")
                        .services__table.table-services
                            .table-services__table-header 
                                .container
                                    .table-services__inner
                                        .table-services__col.table-services__col_1
                                            h4.table-services__header-title Найменування послуг
                                        .table-services__col.table-services__col_2
                                            h4.table-services__header-title Період надання
                                        .table-services__col.table-services__col_3
                                            h4.table-services__header-title Опис послуги
                            .table-services__table-wrapper 
                                .table-services__table 
                                    .table-services__table-row
                                         .container
                                            .table-services__table-row-inner
                                                .table-services__col.table-services__col_1 Виїздна консультації з проєктування та будівництва
                                                .table-services__col.table-services__col_2 1 - 3 годин
                                                .table-services__col.table-services__col_3 
                                                    span Проведення інформаційно-консультаційної роботи для клієнта, відповіді на питання відповідно робіт з проектування: 
                                                    ol.table-services__list
                                                        li Виїзд на локацію
                                                        li Визначення та формування первинної потреби
                                                        li Визначення основної функціонального завдання, формату проекту 
                                                        li Відповідь на питання - навіщо потрібен проект та деталізація складових проекту
                                                        li Консультування щодо отримання дозвільної документації 
                                                        li Консультування щодо технологій, процесів та етапів будівництва 
                                                        li Консультування щодо підбору та характеристик  матеріалів відповідно до потреб  
                                    .table-services__table-row
                                         .container
                                            .table-services__table-row-inner
                                                .table-services__col.table-services__col_1 Консультації з проектування та будівництва в офісі
                                                .table-services__col.table-services__col_2 1 - 3 годин
                                                .table-services__col.table-services__col_3 
                                                    span Проведення інформаційно-консультаційної роботи для клієнта, відповіді на питання відповідно робіт з проектування:
                                                    ol.table-services__list
                                                        li Визначення та формування первинної потреби
                                                        li Визначення основної функціонального завдання, формату проекту
                                                        li Відповідь на питання - навіщо потрібен проект та деталізація складових проекту
                                                        li Консультування щодо отримання дозвільної документації
                                                        li Консультування щодо технологій, процесів та етапів будівництва
                                                        li Консультування щодо технологій, процесів та етапів будівництва 
                                                        li Консультування щодо підбору та характеристик види матеріалів відповідно до потреб
                                    .table-services__table-row
                                         .container
                                            .table-services__table-row-inner
                                                .table-services__col.table-services__col_1 Підбір ділянки
                                                .table-services__col.table-services__col_2 15 днів
                                                .table-services__col.table-services__col_3 
                                                    span Проведення інформаційно-консультаційної роботи для клієнта, відповіді на питання відповідно ліквідності купівлі ділянки: 
                                                    ol.table-services__list
                                                        li Визначення потреби  по чек-листу
                                                        li Аналіз ринку відповідно до потреби 
                                                        li Підбір 3 варіантів відповідно до потреб. Повторний огляд
                                                        li Показ Замовнику відібраних варіантів та виїзд з Замовником на локацію 
                                                        li Перевірка юридичних обтяжен 
                                    .table-services__table-row
                                         .container
                                            .table-services__table-row-inner
                                                .table-services__col.table-services__col_1 Геологія ділянки (інженерно-геологічні вишукування)
                                                .table-services__col.table-services__col_2 15 днів
                                                .table-services__col.table-services__col_3 
                                                    span Виконання проектно вишукувальних робіт для початку проектування та будівництва на ділянці
                                                    ol.table-services__list
                                                        li Виїзд на локацію сертифікованого спеціаліста 
                                                        li Взяття проб грунту (пробивання свердловини глубиною від 6 м)
                                                        li Підготовка розширеного звіту з рекомендаціями 
                                    .table-services__table-row
                                         .container
                                            .table-services__table-row-inner
                                                .table-services__col.table-services__col_1 Геодезія ділянки 
                                                .table-services__col.table-services__col_2 3 дні
                                                .table-services__col.table-services__col_3 
                                                    span Виконання проектно вишукувальних робіт для початку проектування та будівництва на ділянці.
                                                    ol.table-services__list
                                                        li Здійснення топографічної зйомки 1:500
                                                        li Підготовка топографічного плану місцевості 
                    .body-tabs__tab.js-serv-single-tab(data-tab="#tab2")
                        span Table 2
                    .body-tabs__tab.js-serv-single-tab(data-tab="#tab3")
                        span Table 3
                    .body-tabs__tab.js-serv-single-tab(data-tab="#tab4")
                        span Table 4
                .tabs__header.header-tabs.container
                    a(href="#tab1").header-tabs__single-tab-title.single-tab-title.active.js-serv-tab-btn
                        span Підготовчі послуги
                    a(href="#tab2").header-tabs__single-tab-title.single-tab-title.js-serv-tab-btn
                        span ПОСЛУГИ З ПРОЄКТУВАННЯ 
                    a(href="#tab3").header-tabs__single-tab-title.single-tab-title.js-serv-tab-btn
                        span ПОСЛУГИ З Будівництва
                    a(href="#tab4").header-tabs__single-tab-title.single-tab-title.js-serv-tab-btn
                        span ПОСЛУГИ ПІСЛЯ ЗДАЧІ ОБ'ЄКТУ 
        .services__bottom.serv-bot-sec
            .serv-bot-sec__block1
                a(href="#").btn--with-icon.serv-bot-sec__link Всі наші проєкти
                    span
                    +svg('round')
            .serv-bot-sec__block2
                +img('services/services-img-2.jpg')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
