.row {
	@include row-flex();
}
.page__inner {
	display: flex;
	flex-direction: column;
	z-index: 2;
	.page__content {
		flex-grow: 1;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}
.section-pading--top {
	padding-top: 60px;
}
.btn--res{
  border: none;
  background-color: transparent;
}

.brd{
  border: 1px solid red;
}

.underline{
  position: relative;
  display: flex;
  color: #000;
  &::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: "";
  }
}

.btn {
  &--animate {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 0;
      height: 3px;
      background-color: #EC5629;
      transition: all .4s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &--with-icon {
    position: relative;
    font-size: 16px;
    font-family: $default-font;
    font-weight: 700;
    line-height: 4.2em;
    color: #EC5629;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all .4s;

    @include to(1440px) {
      font-size: 14px;
    }

    span {
      position: absolute;
      right: 17px;
      width: 36px;
      height: 2px;
      top: 48%;
      background-color: #EC5629;
      transition: all .4s;

      @include to(1440px) {
        top: 50%;
      }
    }

    svg {
      margin-left: 23px;
      width: 40px;
      height: 45px;
      fill: none;
      stroke: #EC5629;
      stroke-width: 2px;
    }

    &:hover {
      color: darken(#EC5629, 10%);

      span {
        right: 12px;
      }
    }

    &-white {
        color: #fff !important;

        span {
          background-color: #fff;
          right: 21px;
        }

        svg {
          stroke: #fff !important;
          margin-left: 25px;
        }

        &:hover {
          color: darken(#fff, 10%);

          span {
            right: 16px;
          }
        }
    }
  }
}

.title {
  margin-bottom: 48px;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 1.3em;
  font-weight: 700;
  font-family: $druk-cyr;
  color: #EC5629;
  display: block;

  @include to(1440px) {
    font-size: 36px;
  }
}

.section-grid {
  position: fixed;
  width: 1px;
  left: 20%;
  background-color: rgba(#f5f5f5, 0.9);
  height: 100%;
  z-index: -1;

  &:nth-child(2) {
    left: 40%;
  }

  &:nth-child(3) {
    left: 60%;
  }

  &:nth-child(4) {
    left: 80%;
  }

  @include to(1370px) {
    left: 20%;

    &:nth-child(2) {
      left: 39.5%;
    }
  
    &:nth-child(3) {
      left: 59.5%;
    }
  
    &:nth-child(4) {
      left: 80.3%;
    }
  }
}

.desc-with-border {
  display: flex;

  &::before {
    content: "";
    display: block;
    min-width: 90px;
    height: 2px;
    background-color: #EC5629;
    margin-right: 24px;

    @include to(1440px) {
      width: 80px;
    }
  }
}

.section {
  padding: 150px 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.field__error-msg {
  position: absolute;
  top: 32px;
  color: #EC5629;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  transform: translateY(30px);
  transition: all .5s;

  &--animate {
    transform: translateY(0);
  }
}

.inner-page-title {
  font-family: 'Druk Text Wide Cyr', sans-serif;
  font-weight: 700;
  font-style: 12px;
  line-height: 183%;
  letter-spacing: 0.02em;
}

.inner-page{
  padding-top: 165px;
}

.border-decor {
    &-top,
    &-right {
        position: absolute;
        height: 3px;
        background-color: #EC5629;
        transition: all .4s;
    }

    &-top {
        top: -2px;
        right: 0;
        width: 40px;
    }

    &-right {
        top: -2px;
        width: 10%;
        right: -2px;
        height: 40px;
        width: 3px;
    }
  }

.small-title-with-decor {
  font-size: 14px;
  line-height: 4em;
  font-weight: 600;
  display: flex;
  align-items: center;

  @include to(1440px) {
    font-size: 12px;
    line-height: 4.5em;
  }

  &::before {
    content: "";
    margin-right: 10px;
    display: block;
    width: $border-small-width;
    background-color: #B3B3B3;
    height: 1px;

    @include to(1440px){
      width: $border-small-width-laptop;
    }
  }
}

.text-number {
  font-weight: 700;
  color: #EC5629;
  line-height: 1.5em;
  display: block;
}
