.pu-form{
  &__header{
   
  }
  &__data{
    margin-top: 60px;
  }

  &__close{
    margin-left: auto;
  }
}

.header-pu-form{
  display: flex;
  &__title{
    margin-bottom: 40px;
  }
  &__info-wrapper {
    padding-left: 30px;
    width: 100%;
  }
  &__radio-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__img-wrapper {
    flex-basis: 50%;
    flex-shrink: 0;
    img{
      height: 100%;
      object-fit: cover;
    }
  }
  &__radio-btn-wrapper{
    flex-basis: 50%;
   
  }
}

.data-pu-form{
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__subtitle{
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
    &_m40{
      margin-bottom: 40px;
    }
    &_price{
      margin-bottom: 0;
    }
  }
  &__row + &__row{
    margin-top: 16px;
  }

  &__form-input-group{
    position: relative;
    width: 100%;
    &_three{
      flex-basis: calc(33.3% - 15px);
    }
    &_two{
      flex-basis: calc(67% - 12px);
    }
    &_full{
      flex-basis: 100%;
    }
    &_phone{
      flex-basis: calc(40% - 15px);
    }
    &_email{
      flex-basis: calc(60% - 15px);
    }

  }

  &__price{
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }

  &__warning-text{
    P + p{
      margin-top: 10px;
    }
  }
}

.form-input-group{
  label.form-input-group__upload-btn{
    display: inline-flex;
    cursor: pointer;
    input{
      display: none;
    }
  }
  &__upload-text-wrapper{
    max-width: 176px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 52px;

    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
  }
  &__add-info{
    width: 100%;
  }
  &__input{
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 16px;
    height: 52px;
    width: 100%;
    margin-bottom: 7px;

    &_textarea{
      height: 95px;
      resize: none;
      width: 100%;
      padding-top: 5px;
    }
  }

  &_upload{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 45%;
  }
  &__label{
    margin-bottom: 15px;
    display: block;
  }

}

#Preloader {
  position: absolute;
  width: 520px;
  height: 320px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  transform-origin: center center;
  z-index: 1001;
  display: flex;
  overflow: hidden;

  svg {
    padding: 2px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    width: 100%;
    height: 100%;
    outline: none;
    stroke-width: 0;
    overflow: hidden;
    stroke: transparent;
  }

  .preloader__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 130px;
    height: 120%;
    background-color: #fff;
    z-index: 1002;

    &--2 {
      left: 130px;
    }

    &--3 {
      left: 260px;
    }

    &--4 {
      left: 390px;
    }
  }
}
@media (max-width: 767px) {
  #Preloader {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
@media (max-width: 419px) {
  #Preloader {
    transform: translate(-50%, -50%) scale(0.3);
  }
}
@keyframes PreloaderWavesAnimation1 {
  0% {
    transform: translate(0) scaleY(1.2);
  }
  100% {
    transform: translate(-100%) scaleY(1.2);
  }
}
.Preloader_wave {
  animation-name: PreloaderWavesAnimation1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-for-finish-animate {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transform: translateX(-100%);
  z-index: 2000;
}

.row {
	@include row-flex();
}
.page__inner {
	display: flex;
	flex-direction: column;
	z-index: 2;
	.page__content {
		flex-grow: 1;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}
.section-pading--top {
	padding-top: 60px;
}
.btn--res{
  border: none;
  background-color: transparent;
}

.brd{
  border: 1px solid red;
}

.underline{
  position: relative;
  display: flex;
  color: #000;
  &::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: "";
  }
}

.preloader-bg {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.btn {
  &--animate {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 0;
      height: 3px;
      background-color: #EC5629;
      transition: all .4s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &--with-icon {
    position: relative;
    font-size: 16px;
    font-family: $default-font;
    font-weight: 700;
    line-height: 2.2em;
    color: #EC5629;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all .4s;
    letter-spacing: 0.06em;

    @include to(1440px) {
      letter-spacing: 0.06em;
      font-size: 14px;
    }

    span {
      position: absolute;
      right: 17px;
      width: 36px;
      height: 2px;
      top: 48%;
      background-color: #EC5629;
      transition: all .4s;

      @include to(1440px) {
        top: 49.2%;
      }
    }

    svg {
      margin-left: 23px;
      width: 40px;
      height: 45px;
      fill: none;
      stroke: #EC5629;
      stroke-width: 2px;
      transition: all .4s;
    }

    &:hover {
      color: darken(#EC5629, 10%);

      svg {
        transform: scale(1.1);
      }

      span {
        right: 12px;
      }
    }

    &-white {
        color: #fff !important;

        span {
          background-color: #fff;
          right: 21px;
        }

        svg {
          stroke: #fff !important;
          margin-left: 25px;
        }

        &:hover {
          color: darken(#fff, 10%);

          span {
            right: 16px;
          }
        }
    }
  }
}

.title {
  margin-bottom: 48px;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 1.3em;
  font-weight: 600;
  font-family: $druk-cyr;
  color: #EC5629;
  letter-spacing: 0.02em;
  display: block;

  @include to(1440px) {
    font-size: 36px;
  }

  @include  to(1025px) {
    margin-bottom: 35px;
  }

  @include to(770px) {
    font-size: 32px;
  }

  @include to(765px) {
    font-size: 25px;
  }

  @include to(480px) {
    font-size: 20px !important;
    line-height: 2em;
  }

  @include to(320px) {
    font-size: 18px !important;
  }
}

.section-grid {
  position: fixed;
  width: 1px;
  left: 20%;
  background-color: rgba(#f5f5f5, 0.9);
  height: 100%;
  z-index: -1;

  &:nth-child(2) {
    left: 40%;
  }

  &:nth-child(3) {
    left: 60%;
  }

  &:nth-child(4) {
    left: 80%;
  }

  @include to(1370px) {
    left: 20%;

    &:nth-child(2) {
      left: 39.5%;
    }
  
    &:nth-child(3) {
      left: 59.5%;
    }
  
    &:nth-child(4) {
      left: 80.3%;
    }
  }

  @include to(770px) {
    display: none;
  }
}

.desc-with-border {
  display: flex;

  &::before {
    content: "";
    display: block;
    min-width: 90px;
    height: 2px;
    background-color: #EC5629;
    margin-right: 24px;

    @include to(1440px) {
      min-width: 80px;
    }

    @include to(770px) {
      margin-right: 8px;
      min-width: $border-red-width-tablet;
    }

    @include to(480px) {
      min-width: $border-red-width-mobile;
    }
  }
}

.section {
  padding: 150px 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.field__error-msg {
  position: absolute;
  top: 35px;
  color: #EC5629;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  transform: translateY(30px);
  transition: all .5s;

  &--animate {
    transform: translateY(0);
  }
}

.inner-page-title {
  font-family: 'Druk Text Wide Cyr', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.inner-page{
  padding-top: 165px;
}

.border-decor {
    &-top,
    &-right {
        position: absolute;
        height: 3px;
        background-color: #EC5629;
        transition: all .4s;
    }

    &-top {
        top: -2px;
        right: 0;
        width: 40px;
    }

    &-right {
        top: -2px;
        width: 10%;
        right: -2px;
        height: 40px;
        width: 3px;
    }
  }

  .radio-btn-wrapper{
    display: flex;
    align-items: center;
    label{
      cursor: pointer;
    }
    &__circle{
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 15px;
      &::before, &::after{
        content: '';
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
      }
      &::before{
        border: 1px solid #808080;
        width: 24px;
        height: 24px;
      }
      &::after{
        background: #EC5629;
        width: 10px;
        height: 10px;
        transition: all .3s;
        opacity: 0;
      }
    }
  
    input[type="radio"]{
      display: none;
    }
  
    input:checked + .radio-btn-wrapper__circle{
      &::after{
        opacity: 1;
      }
    }
    .radio-btn-wrapper__text{
      transition: all .3s;
    }
  
    input:checked ~ .radio-btn-wrapper__text{
      font-weight: 700;
    }
  }
  
  .orange-subtitle{
    font-size: 18px;
    color: #EC5629;
    font-weight: 700;
    line-height: 1;
  
  }

.small-title-with-decor {
  font-size: 14px;
  line-height: 4em;
  font-weight: 600;
  display: flex;
  align-items: center;

  @include to(1440px) {
    font-size: 12px;
    line-height: 4.5em;
  }

  &::before {
    content: "";
    margin-right: 10px;
    display: block;
    width: $border-small-width;
    background-color: #B3B3B3;
    height: 1px;

    @include to(1440px){
      width: $border-small-width-laptop;
    }
  }
}

.text-number {
  font-weight: 700;
  color: #EC5629;
  line-height: 1.5em;
  display: block;
}


.quote{
  padding-left: 45px;
  position: relative;
  &__icon{
    position: absolute;
    top: 12px;
    left: 0;
    svg{
      width: 30px;
      height: 21px;
    }
  }
  &__text{
    font-size: 32px;
    line-height: 1.5;
    color: #EC5629;
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__author{
    font-size: 16px;
    line-height: 137%;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #333333;
    font-weight: 700;
  }
}




@media screen and (-webkit-min-device-pixel-ratio: 2) and ( min-width: 1439px) {
  .field__error-msg {
    top: 32px;
  }
}

.radio-btn-wrapper{
  display: flex;
  align-items: center;
  label{
    cursor: pointer;
  }
  &__circle{
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    &::before, &::after{
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
    &::before{
      border: 1px solid #808080;
      width: 24px;
      height: 24px;
    }
    &::after{
      background: #EC5629;
      width: 10px;
      height: 10px;
      transition: all .3s;
      opacity: 0;
    }
  }

  input[type="radio"]{
    display: none;
  }

  input:checked + .radio-btn-wrapper__circle{
    &::after{
      opacity: 1;
    }
  }
  .radio-btn-wrapper__text{
    transition: all .3s;
  }

  input:checked ~ .radio-btn-wrapper__text{
    font-weight: 700;
  }

  .field__error-msg {
    top: 32px;
  }
}

.orange-subtitle{
  font-size: 18px;
  color: #EC5629;
  font-weight: 700;
  line-height: 1;
}

.data-pu-form__btn {
  span {
    right: 24px;
  }

  &:hover {
    span {
      right: 19px;
    }
  }
}
