$default-font: 'TT Interfaces', 'sans-serif';
$tt-first-neue: 'TT Firs Neue', 'sans-serif';
$monserrat: 'Montserrat', 'sans-serif';
$druk-cyr: 'Druk Text Wide Cyr', 'sans-serif';
$druk-text-cyr: 'Druk Text Cyr';

$mc: #34B9E0;
$mc2: #FF554C;
$mc3: #E5DF06;
$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;

:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 165px;
}

// style
$border-red-width: 103px;
$border-red-width-laptop: 92px;
$border-red-width-tablet: 40px;
$border-red-width-mobile: 35px;

$border-small-width: 38px;
$border-small-width-laptop: 32px;
