.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all .4s;

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    position: static;
    transform: translateX(-200px);
    display: flex;
    justify-self: flex-end;

    @include to(1150px) {
      transform: translateX(-165px);
    }

    @include to(1025px) {
      transform: translateX(-145px);
    }
  }

  &__logo {
    height: var(--header-h);
    transition: all .4s;

    @include to(1440px) {
      height: var(--header-h - 20px);
    }

    @include to(1370px) {
      height: var(--header-h - 30px);
    }

    img {
      width: auto;
      height: 100%;
    }
  }

  &__phone {
    font-size: 26px;
    line-height: 1em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;

    @include to(1440px) {
      font-size: 24px;
    }

    &::after {
      bottom: -9px;
    }
  }

  &.moving {
    background-color: rgba(#000, .8);

    .header__logo {
      height: 120px;
      transform: scale(.9);

      @include to(1440px) {
        height: 130px;
        transform: scale(.8);
      }
    }
  }
}
