.burger-btn {
  margin-top: -5px;
  margin-left: 87px;
  font-size: 14px;
  position: relative;
  line-height: 1.3em;
  font-weight: 700;
  color: #fff;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-family: $default-font;
  width: 55px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #fff;
    transition: all .4s;
  }

  &::before {
    width: 100%;
    bottom: 3px;
  }

  &::after {
    bottom: -6px;
    left: auto;
    right: 0;
    width: 65%;
  }

  &:hover {
    &::after {
      width: 90%;
    }
  }
}
