.language {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 36px;


  @include to(1440px) {
    top: 41px;
  }

  @include to(1370px) {
    top: 42px;
  }

  .container {
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    font-size: 14px;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(#fff, .7);
    text-decoration: none;
    transition: all .4s;

    @include to(1440px) {
      font-size: 12px;
    }

    span {
      font-size: 16px;
      margin-left: 3px;
      margin-right: 3px;
      color: rgba(#fff, .7);
      font-weight: 700;

      @include to(1440px) {
        font-size: 14px;
      }
    }

    &:hover:not(&--current) {
      opacity: .7;
    }

    &--current {
      font-size: 16px;
      color: #fff;

      @include to(1440px) {
        font-size: 14px;
      }
    }
  }
}
