.language {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 36px;
  transition: all .4s;

  @include to(1440px) {
    top: 41px;
  }

  @include to(1370px) {
    top: 42px;
  }

  @include to(920px) {
    top: 44px;
  }

  @include to(650px) {
    top: 18px;
  }

  @include to(480px) {
    top: 13px;
  }

  &__list {
    position: relative;
    padding-right: 15px;

    &-dropdown {
      position: absolute;
      left: 0;
      opacity: 0;
      z-index: -5;
      transition: all .4s;

      a {
        pointer-events: none;
      }
    }
  }

  &__current {
    display: block;
    position: relative;

    @media (min-width: 991px) {
      display: none;
    }

    &::after {
      content: "";
      transition: all .4s;
      position: absolute;
      right: -15px;
      top: 6px;
      width: 0; 
      height: 0; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      
      border-top: 7px solid #fff;
    }

    &:hover {
      &::after {
        transform: rotate(-180deg);
      }

     & + .language__list-dropdown {
        opacity: 1;
        z-index: 1;

        a {
          pointer-events: inherit;
        }
      }
    }
  }
  

  .container {
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    font-size: 14px;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(#fff, .7);
    text-decoration: none;
    transition: all .4s;

    @include to(1440px) {
      font-size: 12px;
    }

    @include to(920px) {
      display: block;
      margin-bottom: 5px;
    }

    span {
      font-size: 16px;
      margin-left: 3px;
      margin-right: 3px;
      color: rgba(#fff, .7);
      font-weight: 700;

      @include to(1440px) {
        font-size: 14px;
      }

      @include to(920px) {
        display: none;
      }
    }

    &:hover:not(&--current) {
      opacity: .7;
    }

    &--current {
      font-size: 16px;
      color: #fff;

      @include to(1440px) {
        font-size: 14px;
      }
    }
  }
}
