.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 6, 6, 0.85);
  backdrop-filter: blur(20px);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .4s;
  z-index: -1;

  &--show {
    opacity: 1;
    z-index: 50;
  }

  .section-grid {
    z-index: -1;
    left: 7.5%;
    top: 0;
    bottom: 0;

    &:nth-child(2) {
      left: 35%;
    }

    &:nth-child(3) {
      left: 67%;
    }

    &:nth-child(4) {
      left: 92.5%;
    }
  }
}

.status-request {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  font-size: 21px;

  @include to(1440px) {
    font-size: 20px;
  }
}

.popup {
  margin-top: var(--header-h);
  height: calc(100vh - var(--header-h));
  overflow-y: scroll;
  position: relative;
  max-width: 1100px;
  width: 100%;
  background-color: #fff;
  padding: 45px 100px;

  .section-grid {
    position: absolute;
    z-index: 2;
  }
  
  &-close {
    width: auto;
    padding-right: 0;
    margin-bottom: 40px;
    color: #333;
    position: static;
    letter-spacing: 0.06em;
  }

  &-thank {
    margin-top: var(--header-h);
    position: absolute;
    bottom: 50px;
    text-align: center;
    height: 305px;

    &__block {
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-end;
    }

    &__title,
    &__desc {
      margin-bottom: 24px;
      font-size: 26px;
      line-height: 1em;
      font-weight: 700;
      color: #EC5629;
      text-transform: uppercase;
    }

    &__desc {
      color: #000;
      text-transform: none;
    }
  }

  &-contacts {
    overflow-y: scroll;
    display: none;
    color: #808080;

    &__form {
      position: relative;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      width: 5px;
      border-radius: 999px;
      background-color: #454545;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c4c4c4;
      border-radius: 999px;
    }

    sup {
      margin-left: 3px;
      font-weight: 700;
      color: #333;
    }
    
    &-close-block {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }

    &__title {
      margin-bottom: 13px;
      font-weight: 700;
      color: #333;
      text-transform: uppercase;
      letter-spacing: 0.06em;
    }

    &__wrap {
      position: relative;
      margin-bottom: 9px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      position: relative;
      width: 48%;

      &-label,
      &-label span{
        position: relative;
        display: block;
        margin-bottom: 25px;
        line-height: 1em;

        @include placeholder {
          color: #333;
        }
      }

      &-wrap {
        position: relative;
        display: flex;
      }

      input,
      textarea,
      .popup-contacts__item-file {
        width: 100%;
        border: 1px solid #808080;
        border-radius: 4px;
        padding: 0 20px;
        min-height: 52px;
        display: flex;
        align-items: center;
        color: #333;
        font-family: inherit;
      }

      &--w100 {
        width: 100%;

        textarea {
          padding: 10px 20px;
          min-height: 108px;
          resize: none;
        }
      }

      .popup-contacts__item-wrap &-file {
        margin-right: 36px;
        width: 23%;
        color: #808080;
        transition: all .4s;

        &-label {
          cursor: pointer;

          input {
            display: none;
          }
        }

        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }

        &.error {
          border: 1px solid #EC5629;
        }
      }

      &--file .popup-contacts__item-wrap {
        margin-bottom: 30px;
        align-items: center;
      }

      &--checkbox {
        display: flex;
        align-items: center;
        margin-top: 25px;

        .popup-contacts__item-label {
          cursor: pointer;
          margin-right: 32px;
          display: flex;
          line-height: 1.5em;
  
          input {
            display: none;
          }
  
          span {
            order: -1;
            margin-right: 18px;
            position: relative;
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #808080;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              background-color: #333;
              border-radius: 50%;
              opacity: 0;
              transition: all .4s;
            }
          }

          input:checked {
           & + span::before {
              opacity: 1;
            }
          }
        }
      }

      &--select {
        .popup-contacts__item-label {
          margin-top: 5px;
        }
      }
    }

    &__footer {
      &-wrap {
        display: flex;
        justify-content: space-between;
      }

      .popup-contacts__item {
        margin-bottom: 0;
        margin-top: -15px;
      }

      .popup-contacts__btn {
        span {
          right: 24px;
        }

        &:hover {
          span {
            right: 19px;
          }
        }
      }

      .popup-contacts__btn {
        line-height: 4.2em;
      }
    }
  }
}

.contacts-select {
  &__list {
    display: block;
    position: absolute;
    top: 57px;
    background-color: #fff;
    box-shadow:  0 0 1px #000;
    padding: 7px 20px;
    width: 100%;
    border-radius: 4px;
    color: #333;
    opacity: 0;
    z-index: -1;
    transition: opacity .4s;
  }

  &__item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    &:hover {
      font-weight: 700;
    }

    &--selected {
      font-weight: 700;
    }
  }

  &__current {
    position: relative;
    width: 100%;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 0 20px;
    color: #333;
    min-height: 52px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 18px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 15px solid #EC5629;
      transition: all .4s;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      width: 100%;
      left: 0;
      right: 0;
      height: 10px;
      background-color: transparent;
    }
  }

  &:hover {
    .contacts-select__current::after {
      transform: rotate(180deg);
    }
    .contacts-select__list {
      opacity: 1;
      z-index: 3;
    }
  }

}

